
@inject SensorWeb.Resources.CommonLocalizationService localizer
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLoginPage.cshtml";

}
<!DOCTYPE html>
<html lang="pt-br">
<head>

    <title>VibrationSensor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/bootstrap/css/bootstrap.min.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/fonts/font-awesome-4.7.0/css/font-awesome.min.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/animate/animate.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/css-hamburgers/hamburgers.min.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/animsition/css/animsition.min.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/select2/select2.min.css")">
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/daterangepicker/daterangepicker.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/util.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/main.css")">
    <!--===============================================================================================-->
</head>

<body>

    @Html.AntiForgeryToken()

    <div class="limiter" style=" background:repeat; background-image: url('@Url.Content("~/Resources/fundo_login.png") ');">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url('images/bg-01.jpg');">

                    <span class="login100-form-title-1">
                        @localizer.Get("RestrictedAccess")
                    </span>
                </div>

                <form class="login100-form validate-form" action="Login" method="post">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Usuário obrigatório">
                        <span class="label-input100">@localizer.Get("User")</span>
                        <input class="input100" type="text" name="username" @*placeholder="Usuário"*@>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Senha Obrigatória">
                        <span class="label-input100">@localizer.Get("Pass")</span>
                        <input class="input100" type="password" name="pass" @*placeholder="Senha"*@>
                        <span class="focus-input100"></span>
                    </div>

                    @*<div class="flex-sb-m w-full p-b-30">
                            <div class="contact100-form-checkbox">
                                <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                <label class="label-checkbox100" for="ckb1">
                                    Remember me
                                </label>
                            </div>

                            <div>
                                <a href="#" class="txt1">
                                    Forgot Password?
                                </a>
                            </div>
                        </div>*@

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="@Url.Content("~/vendor/jquery/jquery-3.2.1.min.js")"></script>
    <!--===============================================================================================-->
    <script src="@Url.Content("~/vendor/animsition/js/animsition.min.js")"></script>
    <!--===============================================================================================-->
    <script src="@Url.Content("~/vendor/bootstrap/js/popper.js")"></script>
    <script src="@Url.Content("~/vendor/bootstrap/js/bootstrap.min.js")"></script>
    <!--===============================================================================================-->
    <script src="@Url.Content("~/vendor/select2/select2.min.js")"></script>
    <!--===============================================================================================-->
    <script src="@Url.Content("~/vendor/daterangepicker/moment.min.js")"></script>
    <script src="@Url.Content("~/vendor/daterangepicker/daterangepicker.js")"></script>
    <!--===============================================================================================-->
    <script src="@Url.Content("~/vendor/countdowntime/countdowntime.js")"></script>
    <!--===============================================================================================-->
    <script src="@Url.Content("~/js/main.js")"></script>

</body>
</html>