@model ReportModel

@inject SensorWeb.Resources.CommonLocalizationService localizer
@inject Core.Service.IDeviceService deviceService
@inject Core.Service.IMotorService motorService

@{
    Layout = "~/Views/Shared/_Layout_Graficos.cshtml";
}

<style type="text/css">

    body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    .page-sidebar, .page-header, .page-footer {
        display: none;
    }

    .page-content {
        width:100%;
    }

    textarea {
        border: none;
        outline: none;
        padding: 0;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
    }

        .row > * {
            flex-shrink: 0;
            width: 100%;
            max-width: 100%;
            padding-right: calc(var(--bs-gutter-x) * .5);
            padding-left: calc(var(--bs-gutter-x) * .5);
            margin-top: var(--bs-gutter-y);
        }

    .col-sm {
        flex: 1 0 0%;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .text-center {
        text-align: center;
    }

    .border {
        border: 2px solid !important;
    }

    .border-right {
        border-right: 2px solid !important;
    }

    .border-bottom {
        border-bottom: 2px solid !important;
    }

    .circulo {
        height: 10px;
        width: 50px;
        display: inline-block;
        margin-right: 10px;
    }

    .verde {
        background-color: green;
    }

    .amarelo {
        background-color: yellow;
    }

    .vermelho {
        background-color: red;
    }

    #chartdiv {
        width: 100%;
        max-width: 100%;
        height: 500px;
        margin-bottom: 20px;
    }

    #overview {
        margin: 20px 0;
        width: 100%;
        max-width: 100%;
        height: 75px;
    }

    #legenddiv {
        margin: 0 20px 10px 20px;
        width: 100%;
        max-width: 100%;
        height: 5px;
    }

    .legendLayer .background {
        fill: rgba(255, 255, 255, 0.85);
        stroke: rgba(0, 0, 0, 0.85);
        stroke-width: 1;
    }

    .x2Label {
        fill: #224499;
        font-weight: bold;
        font-size: 18px;
        font-family: Tahoma, sans-serif;
    }

    .y2Label {
        fill: #224499;
        font-weight: bold;
        font-size: 18px;
        font-family: Tahoma, sans-serif;
    }

    .red-alarm-option {
        color: darkred;
    }

    

</style>


<div class="row border">
    <div class="row">
        <div class="col-sm-8">
            <div class="row text-center border-bottom">
                <div class="col-sm border-right">
                    <b>@Html.DisplayNameFor(m => m.MotorId): </b>@Html.DisplayTextFor(m => m.MotorIdName)
                    <input type="hidden" id="MotorId" name="MotorId" value="@Model.MotorId" />
                </div>
                <div class="col-sm border-right">
                    <b>@Html.DisplayNameFor(m => m.DeviceId): </b>
                    @Html.DisplayTextFor(m => m.DeviceIdName)
                    <input type="hidden" id="DeviceId" name="DeviceId" value="@Model.DeviceId" />
                </div>
            </div>

            <div class="row text-center border-bottom">
                <div class="col-sm border-right"><b>@Html.DisplayNameFor(m => m.Acionamento)</b></div>
                <div class="col-sm border-right"><b>@Html.DisplayNameFor(m => m.Acionado)</b></div>
            </div>
            <div class="row text-center border-bottom">
                <div class="col-sm border-right">@Html.DisplayTextFor(m => m.Acionamento)</div>
                <div class="col-sm border-right">@Html.DisplayTextFor(m => m.Acionado)</div>
            </div>
            <div class="row border-bottom">
                <div class="col-sm border-right">

                    <b>@Html.DisplayNameFor(m => m.AlarmeAcionamento): </b><span class="circulo @Html.DisplayTextFor(m => m.AlarmeAcionamento).ToLower()"></span>@Html.DisplayTextFor(m => m.AlarmeAcionamento)
                </div>
                <div class="col-sm border-right">
                    <b>@Html.DisplayNameFor(m => m.AlarmeAcionamento): </b><span class="circulo @Html.DisplayTextFor(m => m.AlarmeAcionado).ToLower()"></span>@Html.DisplayTextFor(m => m.AlarmeAcionado)
                </div>
            </div>
            <div class="row border-bottom border-right">
                <div class="text-center"><b>@Html.DisplayNameFor(m => m.Velocidade)</b></div>
            </div>
            <div class="row border-bottom">
                <div class="col-sm border-right"><b>@Html.DisplayNameFor(m => m.PontoMaxVel1) </b>@Html.DisplayTextFor(m => m.PontoMaxVel1)</div>
                <div class="col-sm border-right"><b>@Html.DisplayNameFor(m => m.PontoMaxVel2) </b>@Html.DisplayTextFor(m => m.PontoMaxVel2)</div>
            </div>
            <div class="row border-bottom">
                <div class="col-sm border-right"><b>@Html.DisplayNameFor(m => m.Vel1) </b>@Html.DisplayTextFor(m => m.Vel1)</div>
                <div class="col-sm border-right"><b>@Html.DisplayNameFor(m => m.Vel2) </b>@Html.DisplayTextFor(m => m.Vel2)</div>
            </div>
            <div class="row border-bottom border-right">
                <div class="text-center"><b>@Html.DisplayNameFor(m => m.Aceleracao)</b></div>
            </div>
            <div class="row border-bottom">
                <div class="col-sm border-right"><b>@Html.DisplayNameFor(m => m.PontoMaxAce1) </b>@Html.DisplayTextFor(m => m.PontoMaxAce1)</div>
                <div class="col-sm border-right"><b>@Html.DisplayNameFor(m => m.PontoMaxAce2) </b>@Html.DisplayTextFor(m => m.PontoMaxAce2)</div>
            </div>
            <div class="row border-bottom">
                <div class="col-sm border-right"><b>@Html.DisplayNameFor(m => m.Acel1) </b>@Html.DisplayTextFor(m => m.Acel1)</div>
                <div class="col-sm border-right"><b>@Html.DisplayNameFor(m => m.Acel2) </b>@Html.DisplayTextFor(m => m.Acel2)</div>
            </div>
            <div class="row border-bottom border-right">
                <div class="text-center"><b>@Html.DisplayNameFor(m => m.ObservacoesRelevantes)</b></div>
            </div>
            <div class="row border-bottom border-right">
                <textarea asp-for="ObservacoesRelevantes" rows="7"></textarea>
                @*@Html.DisplayTextFor(m => m.ObservacoesRelevantes)*@
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row border-bottom">
                <div class="text-center"><b>@Html.DisplayNameFor(m => m.Diagnostico)</b></div>
            </div>
            <div class="row border-bottom" style="padding-bottom: 6px">
                <textarea asp-for="Diagnostico" rows="6"></textarea>
            </div>
            <div class="row border-bottom">
                <div class="text-center"><b>@Html.DisplayNameFor(m => m.AcaoRecomendada)</b></div>
            </div>
            <div class="row border-bottom" style="padding-bottom: 4px">
                <textarea asp-for="AcaoRecomendada" rows="10"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row border-bottom">
                <div class="text-center"><b>@Html.DisplayNameFor(m => m.Grafico)</b></div>
            </div>
            <div class="row ">
                <div class="col-sm border-right border-bottom">
                    <b>@Html.DisplayNameFor(m => m.TipoRelatorio): </b>
                    @Html.DisplayTextFor(m => m.TipoRelatorioName)
                    <input type="hidden" id="TipoRelatorio" name="TipoRelatorio" value="@Model.TipoRelatorio" />

                    <input type="hidden" id="DataDeviceId" name="DataDeviceId" value="@Model.DataDeviceId" />
                    <input type="hidden" id="DataDeviceIdName" name="DataDeviceIdName" value="@Model.DataDeviceIdName" />
                </div>

            </div>
        </div>
    </div>
    <div class="row head-row" style="display:none;">
        <div class="col-sm border-right">
            <b>Data / hora:</b> <br /> <label id="head-data"></label>
        </div>
        <div class="col-sm border-right">
            <b>Tipo:</b> <br /> <label id="head-tipo"></label>
        </div>
        <div class="col-sm border-right">
            <b>Eixo:</b> <br /> <label id="head-eixo"></label>
        </div>
        <div class="col-sm border-right">
            <b>Freq.:</b> <br /> <label id="head-freq"></label>
        </div>

    </div>
</div>



<div id="grafico-wrapper" style="display:none;">

    <div id="overview"></div>
    <div id="legenddiv"></div>
    <div id="chartdiv"></div>

</div>

<input id="limiteRed" type="hidden" value="@ViewBag.LimiteRed" />
<input id="limiteYel" type="hidden" value="@ViewBag.LimiteYel" />

@section Scripts
    {

    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.event.drag.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.mousewheel.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.canvaswrapper.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.colorhelpers.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.saturated.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.browser.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.drawSeries.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.uiConstants.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.navigate.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.touchNavigate.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.hover.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.touch.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.time.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.selection.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.legend.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.tooltip.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.axislabels.js")"></script>

    <script type="text/javascript">
        var valor_data = [];

        $(document).ready(function () {

            let dataId = $('#DataDeviceId').val();

            if (dataId != '') {
                $.get('@Url.Action("ReportDeviceDataUpdate")?idDataReceive=' + dataId, function (data) {
                    valor_data = [];
                    $('#grafico-wrapper').show();
                    $('.head-row').show();

                    $.each(data, function (index, value) {
                        valor_data.push([value.tempo, value.valor]);
                    });

                    drawGraficos();
                    updateHeader();
                });
            }

        });


        function drawGraficos() {
            var options = {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 2
                    },
                    points: {
                        show: false
                    },
                    sampling: 'average'
                },
                yaxes: [
                    { position: 'left', show: true, showTicks: true, },
                    { position: 'left', show: true, axisLabel: 'm/s²', showTickLabels: 'none', gridLines: false, showTicks: false }
                ],
                xaxes: [
                    { position: 'bottom', show: true, showTicks: true, },
                    { position: 'bottom', show: true, axisLabel: 'Segundos', showTickLabels: 'none', gridLines: false, showTicks: false }
                ],
                grid: {
                    hoverable: true
                },
                tooltip: {
                    show: true,
                    content: 'Tempo: %x.6 | Valor: %y.6'
                },
                colors: ["rgb(51,102,204)"]
            };

            var plot = $.plot($('#chartdiv'), [{ data: valor_data }], options);

            $("#chartdiv").bind("plotselected", function (event, ranges) {
                $.each(plot.getXAxes(), function (_, axis) {
                    var opts = axis.options;
                    opts.min = ranges.xaxis.from;
                    opts.max = ranges.xaxis.to;
                });
                plot.setupGrid();
                plot.draw();
                plot.clearSelection();

                // don't fire event on the overview to prevent eternal loop
                overview.setSelection(ranges, true);
            });


            var overview = $.plot("#overview", [{ data: valor_data }], {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 1
                    },
                    shadowSize: 0
                },
                xaxis: {
                    position: "top"
                },
                selection: {
                    mode: "x"
                },
                colors: ["rgb(51,102,204)"]
            });

            $("#overview").bind("plotselected", function (event, ranges) {
                plot.setSelection(ranges);
            });
        }

        function updateHeader() {
            let dataText = $('#DataDeviceIdName').val();
            let dataTextParts = dataText.split(' - ');

            let headData = dataTextParts[0];
            let headTipo = dataTextParts[1].substring(6);
            let headEixo = dataTextParts[2].substring(6);
            let headFreq = dataTextParts[3].substring(6);

            $('#head-row').show();
            $('#head-data').text(headData);
            $('#head-tipo').text(headTipo);
            $('#head-eixo').text(headEixo);
            $('#head-freq').text(headFreq);
        }

    </script>
}