@model ReportModel

@inject SensorWeb.Resources.CommonLocalizationService localizer
@inject Core.Service.IDeviceService deviceService
@inject Core.Service.IMotorService motorService

@{
    Layout = "~/Views/Shared/_Layout_Graficos.cshtml";
}

<style type="text/css">

    body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
        overflow: hidden;
    }

    .page-sidebar, .page-header, .page-footer {
        display: none;
    }

    .page-content {
        width:100%;
    }

    textarea {
        border: none;
        outline: none;
        padding: 0;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
    }

        .row > * {
            flex-shrink: 0;
            width: 100%;
            max-width: 100%;
            padding-right: calc(var(--bs-gutter-x) * .5);
            padding-left: calc(var(--bs-gutter-x) * .5);
            margin-top: var(--bs-gutter-y);
        }

    .col-sm {
        flex: 1 0 0%;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .text-center {
        text-align: center;
    }

    .border {
        border: 2px solid !important;
    }

    .border-right {
        border-right: 2px solid !important;
    }

    .border-bottom {
        border-bottom: 2px solid !important;
    }

    .circulo {
        height: 10px;
        width: 50px;
        display: inline-block;
        margin-right: 10px;
    }

    .verde {
        background-color: green;
    }

    .amarelo {
        background-color: yellow;
    }

    .vermelho {
        background-color: red;
    }

    #chartdiv {
        width: 100%;
        max-width: 100%;
        height: 500px;
        margin-bottom: 20px;
    }

    #overview {
        margin: 20px 0;
        width: 100%;
        max-width: 100%;
        height: 75px;
    }

    #legenddiv {
        margin: 0 20px 10px 20px;
        width: 100%;
        max-width: 100%;
        height: 5px;
    }

    .legendLayer .background {
        fill: rgba(255, 255, 255, 0.85);
        stroke: rgba(0, 0, 0, 0.85);
        stroke-width: 1;
    }

    .x2Label {
        fill: #224499;
        font-weight: bold;
        font-size: 18px;
        font-family: Tahoma, sans-serif;
    }

    .y2Label {
        fill: #224499;
        font-weight: bold;
        font-size: 18px;
        font-family: Tahoma, sans-serif;
    }

    .red-alarm-option {
        color: darkred;
    }

    

</style>


<div class="row border">
    <div class="row">
        <div class="col-sm-8">
            <div class="row text-center border-bottom">
                <div class ="col-sm">
                    <img src="@Url.Content("~/img/logo_report.jpg")" style="padding:5px;" />
                </div>
                <div class ="col-sm">

                </div>
                <div class ="col-sm border-right">

                </div>
            </div>

            <div class="row text-center border-bottom">
                <div class="col-sm border-right">
                    <b>@Html.DisplayNameFor(m => m.MotorId): </b>@Html.DisplayTextFor(m => m.MotorIdName)
                    <input type="hidden" id="MotorId" name="MotorId" value="@Model.MotorId" />
                </div>
                <div class="col-sm border-right">
                    <b>@Html.DisplayNameFor(m => m.DeviceId): </b>
                    @Html.DisplayTextFor(m => m.DeviceIdName)
                    <input type="hidden" id="DeviceId" name="DeviceId" value="@Model.DeviceId" />
                </div>
            </div>

            <div class="row text-center border-bottom">
                <div class="col-sm border-right"><b>@Html.DisplayNameFor(m => m.Acionamento)</b></div>
                <div class="col-sm border-right"><b>@Html.DisplayNameFor(m => m.Acionado)</b></div>
            </div>
            <div class="row text-center border-bottom">
                <div class="col-sm border-right">@Html.DisplayTextFor(m => m.Acionamento)</div>
                <div class="col-sm border-right">@Html.DisplayTextFor(m => m.Acionado)</div>
            </div>
            <div class="row border-bottom">
                <div class="col-sm border-right">

                    <b>@Html.DisplayNameFor(m => m.AlarmeAcionamento): </b><span class="circulo @Html.DisplayTextFor(m => m.AlarmeAcionamento).ToLower()"></span>@Html.DisplayTextFor(m => m.AlarmeAcionamento)
                </div>
                <div class="col-sm border-right">
                    <b>@Html.DisplayNameFor(m => m.AlarmeAcionamento): </b><span class="circulo @Html.DisplayTextFor(m => m.AlarmeAcionado).ToLower()"></span>@Html.DisplayTextFor(m => m.AlarmeAcionado)
                </div>
            </div>
            <div class="row border-bottom border-right">
                <div class="text-center"><b>@Html.DisplayNameFor(m => m.Velocidade)</b></div>
            </div>
            <div class="row border-bottom">
                <div class="col-sm border-right"><b>@Html.DisplayNameFor(m => m.PontoMaxVel1) </b>@Html.DisplayTextFor(m => m.PontoMaxVel1)</div>
                <div class="col-sm border-right"><b>@Html.DisplayNameFor(m => m.PontoMaxVel2) </b>@Html.DisplayTextFor(m => m.PontoMaxVel2)</div>
            </div>
            <div class="row border-bottom">
                <div class="col-sm border-right"><b>@Html.DisplayNameFor(m => m.Vel1) </b>@Html.DisplayTextFor(m => m.Vel1)</div>
                <div class="col-sm border-right"><b>@Html.DisplayNameFor(m => m.Vel2) </b>@Html.DisplayTextFor(m => m.Vel2)</div>
            </div>
            <div class="row border-bottom border-right">
                <div class="text-center"><b>@Html.DisplayNameFor(m => m.Aceleracao)</b></div>
            </div>
            <div class="row border-bottom">
                <div class="col-sm border-right"><b>@Html.DisplayNameFor(m => m.PontoMaxAce1) </b>@Html.DisplayTextFor(m => m.PontoMaxAce1)</div>
                <div class="col-sm border-right"><b>@Html.DisplayNameFor(m => m.PontoMaxAce2) </b>@Html.DisplayTextFor(m => m.PontoMaxAce2)</div>
            </div>
            <div class="row border-bottom">
                <div class="col-sm border-right"><b>@Html.DisplayNameFor(m => m.Acel1) </b>@Html.DisplayTextFor(m => m.Acel1)</div>
                <div class="col-sm border-right"><b>@Html.DisplayNameFor(m => m.Acel2) </b>@Html.DisplayTextFor(m => m.Acel2)</div>
            </div>
            <div class="row border-bottom border-right">
                <div class="text-center"><b>@Html.DisplayNameFor(m => m.ObservacoesRelevantes)</b></div>
            </div>
            <div class="row border-bottom border-right">
                <textarea asp-for="ObservacoesRelevantes" rows="7"></textarea>
                @*@Html.DisplayTextFor(m => m.ObservacoesRelevantes)*@
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row border-bottom">
                <div class="text-center"><b>@Html.DisplayNameFor(m => m.Diagnostico)</b></div>
            </div>
            <div class="row border-bottom" style="padding-bottom: 6px">
                <textarea asp-for="Diagnostico" rows="6"></textarea>
            </div>
            <div class="row border-bottom">
                <div class="text-center"><b>@Html.DisplayNameFor(m => m.AcaoRecomendada)</b></div>
            </div>
            <div class="row border-bottom" style="padding-bottom: 4px">
                <textarea asp-for="AcaoRecomendada" rows="10"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="row border-bottom">
                <div class="text-center"><b>@Html.DisplayNameFor(m => m.Grafico)</b></div>
            </div>
            <div class="row ">
                <div class="col-sm border-right">
                    <b>@Html.DisplayNameFor(m => m.TipoRelatorio): </b>
                    @Html.DisplayTextFor(m => m.TipoRelatorioName)
                    <input type="hidden" id="TipoRelatorio" name="TipoRelatorio" value="@Model.TipoRelatorio" />
                </div>
                <div class="col-sm border-right">
                    <b>@Html.DisplayNameFor(m => m.StartDate): </b>@Model.StartDate.ToString("dd/MM/yyyy")
                    <input type="hidden" id="StartDate" name="StartDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" />
                </div>
                <div class="col-sm border-right">
                    <b>@Html.DisplayNameFor(m => m.EndDate): </b>@Model.EndDate.ToString("dd/MM/yyyy")
                    <input type="hidden" id="EndDate" name="EndDate" value="@Model.EndDate.ToString("yyyy-MM-dd")" />
                </div>
                <div class="col-sm">
                    <b>@Html.DisplayNameFor(m => m.Eixo): </b>
                    @Html.DisplayTextFor(m => m.EixoName)
                    <input type="hidden" id="Eixo" name="Eixo" value="@Model.Eixo" />
                </div>
            </div>
        </div>
    </div>

</div>

<div id="grafico-wrapper" style="display:none;">

    <div id="legenddiv"></div>
    <div id="chartdiv"></div>

</div>

<input id="limiteRed" type="hidden" value="@ViewBag.LimiteRed" />
<input id="limiteYel" type="hidden" value="@ViewBag.LimiteYel" />

<div class="row" style="margin-top:20px;">
    <div class="col-sm-8">
        <div>&nbsp;</div>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="border-bottom text-center"></div>
        </div>
        <div class="row">
            <div class="text-center">@Html.DisplayTextFor(m => m.ResponsavelTecnico)</div>
            <input type="hidden" id="ResponsavelTecnico" name="ResponsavelTecnico" value="@Model.ResponsavelTecnico" />
        </div>
        <div class="row">
            <div class="text-center" style="font-size:10px;"><b>(RESPONSÁVEL TÉCNICO)</b></div>
        </div>
    </div>
</div>

@section Scripts
    {

    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.event.drag.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.mousewheel.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.canvaswrapper.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.colorhelpers.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.saturated.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.browser.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.drawSeries.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.uiConstants.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.navigate.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.touchNavigate.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.hover.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.touch.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.time.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.selection.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.legend.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.tooltip.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.axislabels.js")"></script>

    <script type="text/javascript">
        var valor_data = [];
        var valor_limite_red = [];
        var valor_limite_yel = [];
        var ddIds = [];
        var color_grafico = '';
        var yaxis_label = '';

        $(document).ready(function () {


                let deviceId = $('#DeviceId').val();
                let motorId = $('#MotorId').val();
                let startDate = $('#StartDate').val();
                let endDate = $('#EndDate').val();
                let reportType = $('#TipoRelatorio').val();
                let eixo = $('#Eixo').val();


                if (deviceId != '' && motorId != '' && startDate != '' && endDate != '' && reportType != '' && eixo != '') {
                    switch (reportType) {
                        case '1':
                            color_grafico = 'rgb(51,102,204)';
                            yaxis_label = 'm/s²';
                            break;
                        case '2':
                            color_grafico = 'rgb(51,102,204)';//'rgb(50,185,109)';
                            yaxis_label = 'mm/s';
                            break;
                        case '3':
                            color_grafico = 'rgb(51,102,204)';//'rgb(205,61,93)';
                            yaxis_label = 'FC';
                            break;
                    }

                    $.get('@Url.Action("ReportRMSCristaUpdate")?deviceId=' + deviceId + '&motorId=' + motorId + '&startDate=' + startDate +
                        '&endDate=' + endDate + '&reportType=' + reportType + '&eixo=' + eixo, function (data) {
                            valor_data = [];
                            valor_limite_red = [];
                            valor_limite_yel = [];
                            ddIds = [];
                            $('#grafico-wrapper').show();
                            $('.head-row').show();

                            let limiteRed = $('#limiteRed').val();
                            let limiteYel = $('#limiteYel').val();

                            $.each(data.dgraf, function (index, value) {
                                valor_data.push([value.dataReceive, value.value, value.origem]);
                                valor_limite_red.push([value.dataReceive, data.limitered, "Limite"]);
                                valor_limite_yel.push([value.dataReceive, data.limiteyel, "Limite"]);
                                ddIds.push(value.dataDevice);
                            });

                            drawGraficos();
                            $('body').css('overflow', 'auto');
                            parent.frameGraphLoaded();
                        });
                }



        });


        function drawGraficos() {
            var options = {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 2
                    },
                    points: {
                        show: false
                    },
                    sampling: 'average'
                },
                yaxes: [
                    { position: 'left', show: true, showTicks: true },
                    { position: 'left', show: true, axisLabel: yaxis_label, showTickLabels: 'none', gridLines: false, showTicks: false }
                ],
                xaxes: [
                    { position: 'bottom', show: true, showTicks: true, mode: "time", timeBase: "milliseconds", timeformat: "%d/%m %H:%M" },
                    { position: 'bottom', show: true, axisLabel: 'Data', showTickLabels: 'none', gridLines: false, showTicks: false }
                ],
                grid: {
                    hoverable: true,
                    clickable: true
                },
                tooltip: {
                    show: true,
                    content: 'Data: %x <br> ' + yaxis_label + ': %y.4 <br> Origem: %ct'
                },
                colors: [color_grafico]
            };

            var dataData = [{ data: valor_data }, { data: valor_limite_red, color: 'red' }, { data: valor_limite_yel, color: 'gold' }];
            if (yaxis_label == 'FC') {
                dataData = [{ data: valor_data }];
            }

            var plot = $.plot($('#chartdiv'), dataData, options);

            $("#chartdiv").bind("plotselected", function (event, ranges) {
                $.each(plot.getXAxes(), function (_, axis) {
                    var opts = axis.options;
                    opts.min = ranges.xaxis.from;
                    opts.max = ranges.xaxis.to;
                });
                plot.setupGrid();
                plot.draw();
                plot.clearSelection();
            });

            $("#chartdiv").bind("plotclick", function (event, pos, item) {
                if (item) {
                    let motorId = $('#MotorId').val();
                    let deviceId = $('#DeviceId').val();
                    let deviceDataId = ddIds[item.dataIndex];

                    window.open('@Url.Action("ReportDeviceDataRedict", "Report")?DeviceId=' + deviceId + '&MotorId=' + motorId + '&DeviceDataId=' + deviceDataId, "_blank");
                }
            });

        }

    </script>
}