@using Core.DTO
@using System.Security.Claims
@model ReportModel

@inject SensorWeb.Resources.CommonLocalizationService localizer
@inject Core.Service.IDeviceService deviceService
@inject Core.Service.IMotorService motorService
@inject Core.Service.ICompanyUnitService unitService

@{
    Layout = "~/Views/Shared/_Layout_Graficos.cshtml";
    string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<style>
    #chartdiv {
        width: 100%;
        max-width: 100%;
        height: 500px;
        margin-bottom: 20px;
    }

    #overview {
        margin: 20px 0;
        width: 100%;
        max-width: 100%;
        height: 75px;
    }

    #legenddiv {
        margin: 0 20px 10px 20px;
        width: 100%;
        max-width: 100%;
        height: 5px;
    }

    .legendLayer .background {
        fill: rgba(255, 255, 255, 0.85);
        stroke: rgba(0, 0, 0, 0.85);
        stroke-width: 1;
    }

    .x2Label {
        fill: #224499;
        font-weight: bold;
        font-size: 18px;
        font-family: Tahoma, sans-serif;
    }

    .y2Label {
        fill: #224499;
        font-weight: bold;
        font-size: 18px;
        font-family: Tahoma, sans-serif;
    }

    .red-alarm-option {
        color: darkred;
    }
</style>

<div class="page-title">
    <h3 class="breadcrumb-header">Relatório de Diagnóstico</h3>
</div>

<form asp-action="Create" target="pvModalFrame" onsubmit="openPvModal();">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row form-group">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm border">
                        <select id="CompanyId" name="CompanyId" style="width:100%;" class="">
                            <option value="">-- Selecione a Empresa --</option>
                            @foreach (var company in (List<Core.Company>)ViewBag.UserCompanies)
                            {
                                <option value="@company.Id">@company.LegalName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-sm border">
                        <select id="UnitId" name="UnitId" style="width:200px;" class="">
                            <option value="">-- Selecione a Unidade --</option>
                            @foreach (var unit in (List<SelectListCustomItemDTO>)unitService.GetQueryDropDownList(userId))
                            {
                                <option cid="@unit.CompanyId" value="@unit.Key">@unit.Value</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm border">
                        <select id="SectorId" name="SectorId" style="width:200px;" class="">
                            <option value="">-- Selecione o Setor --</option>
                            @foreach (var sector in (List<SelectListCustomItemDTO>)unitService.GetQueryDropDownListSector(userId))
                            {
                                <option cid="@sector.CompanyId" uid="@sector.Unit" value="@sector.Key">@sector.Value</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm border">
                        <select id="SubSectorId" name="SubSectorId" style="width:200px;" class="">
                            <option value="">-- Selecione o Sub-Setor --</option>
                            @foreach (var subsector in (List<SelectListCustomItemDTO>)unitService.GetQueryDropDownListSubSector(userId))
                            {
                                <option cid="@subsector.CompanyId" uid="@subsector.Unit" sid="@subsector.Sector" value="@subsector.Key">@subsector.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm border">
                        <b>EQUIPAMENTO</b>
                    </div>
                    <div class="col-sm border">
                        <select id="MotorId" name="MotorId" asp-for="MotorId" style="width:200px;" class="">
                            <option value="">-- Selecione a Tag --</option>
                            @foreach (var motor in (List<MotorDropdownModel>)ViewBag.MotorSelect)
                            {
                                if (motor.IsSelected == false)
                                {
                                    <option cid="@motor.CompanyId" uid="@motor.UnitId" sid="@motor.SectorId" ssid="@motor.SubSectorId" value="@motor.Id">@motor.Name</option>
                                }
                                else
                                {
                                    <option cid="@motor.CompanyId" uid="@motor.UnitId" sid="@motor.SectorId" ssid="@motor.SubSectorId" value="@motor.Id" selected>@motor.Name</option>
                                }

                            }
                        </select>
                        <input id="MotorIdName" name="MotorIdName" type="hidden" />
                    </div>
                    <div class="col-sm border">
                        <b>SENSOR</b>
                    </div>
                    <div class="col-sm border">
                        <select id="DeviceId" name="DeviceId" asp-for="DeviceId" style="width:200px" class="">
                            <option value="">-- Selecione o Sensor --</option>
                            @if (Model.DeviceId != 0)
                            {
                                <option value="@Model.DeviceId" selected>@Model.DeviceIdName</option>
                            }
                        </select>
                        <input id="DeviceIdName" name="DeviceIdName" type="hidden" />
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm border"><b>@Html.DisplayNameFor(m => m.Acionamento)</b></div>
                    <div class="col-sm border"><b>@Html.DisplayNameFor(m => m.Acionado)</b></div>
                </div>
                <div class="row text-center">
                    <div class="col-sm border"><input asp-for="Acionamento"></div>
                    <div class="col-sm border"><input asp-for="Acionado"></div>
                </div>
                <div class="row">
                    <div class="col-sm border">
                        <b>@Html.DisplayNameFor(m => m.AlarmeAcionamento) </b>
                    </div>
                    <div class="col-sm border">
                        @Html.DropDownListFor(m => m.AlarmeAcionamento, new SelectList(Enum.GetValues(typeof(Alarme))), new Dictionary<string, object> { { "style", "width:200px;" } })
                    </div>
                    <div class="col-sm border">
                        <b>@Html.DisplayNameFor(m => m.AlarmeAcionado) </b>
                    </div>
                    <div class="col-sm border">
                        @Html.DropDownListFor(m => m.AlarmeAcionado, new SelectList(Enum.GetValues(typeof(Alarme))), new Dictionary<string, object> { { "style", "width:200px;" } })
                    </div>
                </div>
                <div class="row">
                    <div class="border text-center"><b>@Html.DisplayNameFor(m => m.Velocidade)</b></div>
                </div>
                <div class="row">
                    <div class="col-sm border"><b>@Html.DisplayNameFor(m => m.PontoMaxVel1) </b></div>
                    <div class="col-sm border"><input asp-for="PontoMaxVel1" style="width:175px;"></div>
                    <div class="col-sm border"><b>@Html.DisplayNameFor(m => m.PontoMaxVel2) </b></div>
                    <div class="col-sm border"><input asp-for="PontoMaxVel2" style="width:175px;"></div>
                </div>
                <div class="row">
                    <div class="col-sm border"><b>@Html.DisplayNameFor(m => m.Vel1) </b></div>
                    <div class="col-sm border"><input asp-for="Vel1" style="width:175px;"></div>
                    <div class="col-sm border"><b>@Html.DisplayNameFor(m => m.Vel2) </b></div>
                    <div class="col-sm border"><input asp-for="Vel2" style="width:175px;"></div>
                </div>
                <div class="row">
                    <div class="border text-center"><b>@Html.DisplayNameFor(m => m.Aceleracao)</b></div>
                </div>
                <div class="row">
                    <div class="col-sm border"><b>@Html.DisplayNameFor(m => m.PontoMaxAce1) </b></div>
                    <div class="col-sm border"><input asp-for="PontoMaxAce1" style="width:175px;"></div>
                    <div class="col-sm border"><b>@Html.DisplayNameFor(m => m.PontoMaxAce2) </b></div>
                    <div class="col-sm border"><input asp-for="PontoMaxAce2" style="width:175px;"></div>
                </div>
                <div class="row">
                    <div class="col-sm border"><b>@Html.DisplayNameFor(m => m.Acel1) </b></div>
                    <div class="col-sm border"><input asp-for="Acel1" style="width:175px;"></div>
                    <div class="col-sm border"><b>@Html.DisplayNameFor(m => m.Acel2) </b></div>
                    <div class="col-sm border"><input asp-for="Acel2" style="width:175px;"></div>
                </div>
                <div class="row">
                    <div class="border text-center"><b>@Html.DisplayNameFor(m => m.ObservacoesRelevantes)</b></div>
                </div>
                <div class="row">
                    <textarea asp-for="ObservacoesRelevantes" rows="7" class="border"></textarea>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="border"><b>@Html.DisplayNameFor(m => m.Diagnostico)</b></div>
                </div>
                <div class="row">
                    <textarea asp-for="Diagnostico" rows="6" class="border"></textarea>
                </div>
                <div class="row">
                    <div class="border"><b>@Html.DisplayNameFor(m => m.AcaoRecomendada)</b></div>
                </div>
                <div class="row">
                    <textarea asp-for="AcaoRecomendada" rows="10" class="border"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="border text-center"><b>RESPONSÁVEL TÉCNICO </b></div>
                </div>
                <div class="row">
                    <div class="col-sm border"><b>NOME </b></div>
                    <div class="col-sm border">
                        <input type="text" id="ResponsavelTecnico" name="ResponsavelTecnico" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="border text-center"><b>@Html.DisplayNameFor(m => m.Grafico)</b></div>
                </div>
                @*<div class="row">
                    <div class="col-sm border"><b>@Html.DisplayNameFor(m => m.Equipamento): </b><input asp-for="Equipamento"></div>
                    <div class="col-sm border"><b>@Html.DisplayNameFor(m => m.Ponto): </b><input asp-for="Ponto"></div>
                    <div class="col-sm border"><b>@Html.DisplayNameFor(m => m.Tipo): </b><input asp-for="Tipo"></div>
                    <div class="col-sm border"><b>@Html.DisplayNameFor(m => m.Unidade): </b><input asp-for="Unidade"></div>
                </div>*@
                <div class="row">
                    <div class="col-sm border"><b>@Html.DisplayNameFor(m => m.TipoRelatorio) </b></div>
                    <div class="col-sm border">
                        <select id="TipoRelatorio" name="TipoRelatorio" style="width:200px;">
                            <option value="">-- Selecione o Tipo --</option>
                            <option value="1">RMS em Aceleração</option>
                            <option value="2">RMS Velocidade</option>
                            <option value="3">Fator de Crista</option>
                            <option value="4">Sinal no Tempo</option>
                        </select>
                        <input id="TipoRelatorioName" name="TipoRelatorioName" type="hidden" />
                    </div>

                    @if (true)
                    {
                        <div class="col-sm border rel-rms"><b>DATA INICIAL </b></div>
                        <div class="col-sm border rel-rms">
                            <input type="date" id="StartDate" name="StartDate" style="width:175px;" />
                        </div>
                        <div class="col-sm border rel-rms"><b>DATA FINAL </b></div>
                        <div class="col-sm border rel-rms">
                            <input type="date" id="EndDate" name="EndDate" style="width:175px;" />
                        </div>
                    }

                    @if (true)
                    {
                        <div class="col-sm border rel-sinal" style="display:none;"><b>DADOS </b></div>
                        <div class="col-sm border rel-sinal" style="display:none;">
                            <select id="DataDeviceId" name="DataDeviceId" class="form-control">
                                <option value="">-- Selecione os Dados --</option>
                                @foreach (var d in (IEnumerable<Core.ReceiveData>)ViewBag.DeviceData)
                                {
                                    string itemText = string.Format("{0} - Tipo: {1} - Eixo: {2} - Freq: {3}", d.DataReceive.ToString("dd/MM/yyyy HH:mm:ss"),
                                    (d.tipo == 1 ? "ACC" : "SPD"), SensorWeb.Controllers.ReportController.GetSetupInfo("eixo", d.setup_eixo),
                                    SensorWeb.Controllers.ReportController.GetSetupInfo("freq", d.setup_freq_cut));

                                    <option class="@(d.alarme == 1 ? "red-alarm-option" : "")" value="@d.IdReceiveData">@itemText</option>
                                }
                            </select>
                            <input id="DataDeviceIdName" name="DataDeviceIdName" type="hidden" />
                        </div>
                    }
                    
                </div>

                <div class="row">
                    <div class="col-sm border rel-rms"><b>EIXO </b></div>
                    <div class="col-sm border rel-rms">
                        <select id="Eixo" name="Eixo" style="width:200px;">
                            <option value="">-- Selecione o Eixo --</option>
                            <option value="1">X</option>
                            <option value="2">Y</option>
                            <option value="3">Z</option>
                        </select>
                        <input id="EixoName" name="EixoName" type="hidden" />
                    </div>
                    <div class="col-sm border">
                        <input type="submit" value="Pré-Visualizar" class="btn btn-primary" />
                    </div>
                    <div class="col-sm border">
                        @*<input id="btn-visualizar" type="button" value="Atualizar Gráfico" class="btn btn-primary" style="" />*@
                    </div>
                    <div class="col-sm border">
                        
                    </div>
                    <div class="col-sm border">
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row form-group">
        @*<div>
            <b>@Html.DisplayNameFor(m => m.NomeArquivo): </b><input asp-for="NomeArquivo">
            <input type="submit" value="@localizer.Get("Create")" class="btn btn-primary" />
        </div>*@

    </div>
</form>

<div id="grafico-wrapper" style="display:none;">

    <div id="overview"></div>
    <div id="legenddiv"></div>
    <div id="chartdiv"></div>

</div>

<input id="limiteRed" type="hidden" value="@ViewBag.LimiteRed" />
<input id="limiteYel" type="hidden" value="@ViewBag.LimiteYel" />

<!-- end page main wrapper -->
<div class="page-footer">
    <p>IotNest/Vibração &copy; <span class="current-year"></span>. Conteúdo de uso exclusivo.</p>
</div>

<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="frame-modal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pré-Visualizar Impressão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <iframe id="pvModalFrame" src="" name="pvModalFrame" frameborder="0" style="width:100%;height:400px;"></iframe>

            </div>
            <div class="modal-footer">
                <button id="confirm-print" type="button" class="btn btn-primary" onclick="confirmPrint();" disabled>Confirmar Impressão</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {

    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.event.drag.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.mousewheel.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.canvaswrapper.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.colorhelpers.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.saturated.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.browser.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.drawSeries.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.uiConstants.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.navigate.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.touchNavigate.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.hover.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.touch.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.time.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.selection.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.legend.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.tooltip.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.axislabels.js")"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $('#DeviceIdName').val($("#DeviceId option:selected").text());
            $('#MotorIdName').val($("#MotorId option:selected").text());

            $('#DeviceId').change(function(){
                refreshPage();
            });

            $('#MotorId').change(function () {
                populateDeviceSelect();
            });

            $('#TipoRelatorio').change(function () {
                $('#TipoRelatorioName').val($("#TipoRelatorio option:selected").text());

                if ($(this).val() == '4') {
                    $('.rel-sinal').show();
                    $('.rel-rms').hide();
                }
                else
                {
                    $('.rel-sinal').hide();
                    $('.rel-rms').show();
                }
            });

            $('#CompanyId').bind('change', function () {
                populateMotorSelect('c');
            });
            $('#UnitId').bind('change', function () {
                populateMotorSelect('u');
            });
            $('#SectorId').bind('change', function () {
                populateMotorSelect('s');
            });
            $('#SubSectorId').bind('change', function () {
                populateMotorSelect('ss');
            });

            $('#Eixo').change(function () {
                $('#EixoName').val($("#Eixo option:selected").text());
            });

            $('#DataDeviceId').change(function () {
                $('#DataDeviceIdName').val($("#DataDeviceId option:selected").text());
            });

            @if (ViewBag.CompanyId != null)
            {
                <text>
                    $('#CompanyId').val('@ViewBag.CompanyId');
                </text>
            }

            @if (ViewBag.UnitId != null)
            {
                <text>
                    $('#UnitId').val('@ViewBag.UnitId');
                </text>
            }

            @if (ViewBag.SectorId != null)
            {
                <text>
                    $('#SectorId').val('@ViewBag.SectorId');
                </text>
            }

            @if (ViewBag.SubSectorId != null)
            {
                <text>
                    $('#SubSectorId').val('@ViewBag.SubSectorId');
                </text>
            }
        });

        function populateMotorSelect(filtro) {

            $('#MotorId option').show();

            switch (filtro) {
                case 'c':
                    let companyId = $('#CompanyId').val();
                    if (companyId != '') {
                        $('#MotorId option[cid!="' + companyId + '"]').hide();
                        $('#MotorId option[cid="' + companyId + '"]').show();

                        $('#UnitId option[cid!="' + companyId + '"]').hide();
                        $('#UnitId option[cid="' + companyId + '"]').show();

                        $('#SectorId option[cid!="' + companyId + '"]').hide();
                        $('#SectorId option[cid="' + companyId + '"]').show();

                        $('#SubSectorId option[cid!="' + companyId + '"]').hide();
                        $('#SubSectorId option[cid="' + companyId + '"]').show();
                    }
                    else {
                        $('#UnitId option').show();
                        $('#SectorId option').show();
                        $('#SubSectorId option').show();
                    }

                    $('#UnitId').val('');
                    $('#SectorId').val('');
                    $('#SubSectorId').val('');

                    break;
                case 'u':
                    let unitId = $('#UnitId').val();
                    if (unitId != '') {
                        $('#MotorId option[uid!="' + unitId + '"]').hide();
                        $('#MotorId option[uid="' + unitId + '"]').show();

                        $('#SectorId option[uid!="' + unitId + '"]').hide();
                        $('#SectorId option[uid="' + unitId + '"]').show();
                    }
                    else {
                        $('#SectorId option').show();
                        $('#SubSectorId option').show();
                    }

                    $('#SectorId').val('');
                    $('#SubSectorId').val('');

                    break;
                case 's':
                    let sectorId = $('#SectorId').val();
                    if (sectorId != '') {
                        $('#MotorId option[sid!="' + sectorId + '"]').hide();
                        $('#MotorId option[sid="' + sectorId + '"]').show();

                        $('#SubSectorId option[sid!="' + sectorId + '"]').hide();
                        $('#SubSectorId option[sid="' + sectorId + '"]').show();
                    }
                    else {
                        $('#SubSectorId option').show();
                        populateMotorSelect('u');
                    }

                    $('#SubSectorId').val('');

                    break;
                case 'ss':
                    let subsectorId = $('#SubSectorId').val();
                    if (subsectorId != '') {
                        $('#MotorId option[ssid!="' + subsectorId + '"]').hide();
                        $('#MotorId option[ssid="' + subsectorId + '"]').show();
                    }
                    else
                        populateMotorSelect('s');

                    break;
                default:
                    break;
            }
        }

        function frameGraphLoaded() {
            $('#confirm-print').removeAttr('disabled');
        }

        function openPvModal() {
            $('#frame-modal').modal('show');
        }

        function confirmPrint() {
            window.frames["pvModalFrame"].focus();
            window.frames["pvModalFrame"].print();
        }

        function populateDeviceSelect() {
            let deviceSelect = $('#DeviceId');
            let motorId = $('#MotorId').val();
            deviceSelect.find('option').not(':first').remove();
            $.post('@Url.Content("~/Device/GetDeviceByMotorId")', { mId: motorId }, function (data) {
                $.each(data, function () {
                    deviceSelect.append($("<option />").val(this.id).text(this.tag));
                });
            });
        }

        function refreshPage() {
            let deviceId = $('#DeviceId').val();
            let motorId = $('#MotorId').val();
            let deviceIdName = $("#DeviceId option:selected").text();

            if (deviceId != '' && motorId != '') {
                $('#preloader').fadeIn();
                document.location.href = '@Url.Action("Index")' + '?DeviceId=' + deviceId + '&MotorId=' + motorId + '&DeviceIdName=' + deviceIdName;
            } 
        }

    </script>
}