@using Core.DTO
@model ReportOcorrenciasModel

@inject SensorWeb.Resources.CommonLocalizationService localizer

@inject Core.Service.IDeviceMeasureService deviceMeasureService
@inject Core.Service.IMotorService motorService
@inject Core.Service.IDeviceService deviceService
@inject Core.Service.ICompanyService companyService
@inject Core.Service.ICompanyUnitService unitService

<h4 style="text-align:center">Relatório de Ocorrências</h4>
<hr />

<div class="container">

    <form id="form-ocorrencias" method="post" action="@Url.Action("ReportOcorrencias", "Report")">

        <div class="row">

            <div class="form-group col-md-3">
                <label class="control-label">Unidade</label>
                <select id="UnitId" name="UnitId" style="" class="form-control main-selects">
                    <option value="">-- Selecione a Unidade --</option>
                    @foreach (var unit in (List<SelectListCustomItemDTO>)unitService.GetQueryDropDownList())
                    {
                        <option value="@unit.Key">@unit.Value</option>
                    }
                </select>
                <span id="validation-UnitId" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3">
                <label class="control-label">Setor</label>
                <select id="SectorId" name="SectorId" style="" class="form-control main-selects">
                    <option value="">-- Selecione a Unidade --</option>
                    @foreach (var sector in (List<SelectListCustomItemDTO>)unitService.GetQueryDropDownListSector())
                    {
                        <option uid="@sector.Unit" value="@sector.Key">@sector.Value</option>
                    }
                </select>
                <span id="validation-SectorId" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3">
                <label class="control-label">Sub-Setor</label>
                <select id="SubSectorId" name="SubSectorId" style="" class="form-control main-selects">
                    <option value="">-- Selecione a Unidade --</option>
                    @foreach (var subsector in (List<SelectListCustomItemDTO>)unitService.GetQueryDropDownListSubSector())
                    {
                        <option uid="@subsector.Unit" sid="@subsector.Sector" value="@subsector.Key">@subsector.Value</option>
                    }
                </select>
                <span id="validation-SubSectorId" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3">
                <label class="control-label">Equipamento</label>
                <select id="MotorId" name="MotorId" asp-for="MotorId" style="" class="form-control main-selects">
                    <option value="">-- Selecione a Tag --</option>
                    @foreach (var motor in (List<MotorDropdownModel>)ViewBag.MotorSelect)
                    {
                        if (motor.IsSelected == false)
                        {
                            <option uid="@motor.UnitId" sid="@motor.SectorId" ssid="@motor.SubSectorId" value="@motor.Id">@motor.Name</option>
                        }
                        else
                        {
                            <option uid="@motor.UnitId" sid="@motor.SectorId" ssid="@motor.SubSectorId" value="@motor.Id" selected>@motor.Name</option>
                        }

                    }
                </select>
                <span id="validation-MotorId" class="text-danger"></span>
            </div>
        </div>

        <div class="row">

            
            <div class="form-group col-md-3">
                <label class="control-label">Sensor</label>
                <select id="DeviceId" name="DeviceId" asp-for="DeviceId" style="" class="form-control main-selects">
                    <option value="">-- Selecione o Sensor --</option>
                    @if ((KeyValuePair<int?, string>?)ViewBag.DeviceSelect != null)
                    {
                        var deviceSelect = (KeyValuePair<int?, string>)ViewBag.DeviceSelect;

                        <option value="@deviceSelect.Key.Value" selected>@deviceSelect.Value</option>
                    }
                </select>
                <span id="validation-DeviceId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">Data Inicial</label>
                <input asp-for="StartDate" type="date" id="StartDate" name="StartDate" class="form-control" />
                <span id="validation-StartDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">Data Final</label>
                <input asp-for="EndDate" type="date" id="EndDate" name="EndDate" class="form-control" />
                <span id="validation-EndDate" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3">
                <label class="control-label">Gravidade</label>
                <select asp-for="Gravidade" id="Gravidade" name="Gravidade" class="form-control">
                    <option value="">Todos</option>
                    <option value="amarelo">Amarelo</option>
                    <option value="vermelho">Vermelho</option>
                </select>
            </div>

        </div>

        <div class="row">

            <div class="form-group col-md-3">
                <label class="control-label">&nbsp;</label>
                <input type="hidden" id="PageIndex" name="PageIndex" value="@Model.PageIndex" />
                <input type="hidden" id="PageTotal" name="PageTotal" value="@Model.PageTotal" />
                <input id="btn-view-ocorrencias" type="button" value="Visualizar" class="btn btn-primary" style="width:100%;" />
            </div>

        </div>

    </form>

</div>

<div id="main-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-white">

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="display table" style="width:100%;text-align:center">
                            <thead>
                                <tr>
                                    <th>
                                        Data
                                    </th>
                                    <th>
                                        Equipamento
                                    </th>
                                    <th>
                                        Sensor
                                    </th>
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        Alarme
                                    </th>
                                    <th>
                                        Tipo
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.DataGlobalModel)
                                {
                                    string lineColor = item.alarm >= 7 ? "background-color:crimson;" : item.alarm >= 1 ? "background-color:gold;" : "";
                                    string alarmName = item.alarm == 0 ? "Sem Alarme" : new int[] { 1, 4, 7, 10 }.Contains(item.alarm) ? "Alarme Eixo X" :
                                    new int[] { 2, 5, 8, 11 }.Contains(item.alarm) ? "Alarme Eixo Y" : new int[] { 3, 6, 9, 12 }.Contains(item.alarm) ? "Alarme Eixo Z" : "";

                                    <tr style="@lineColor">
                                        <td>
                                            @item.dataReceive.ToString("dd/MM/yyyy HH:mm:ss")
                                        </td>
                                        <td>
                                            @item.motor
                                        </td>
                                        <td>
                                            @item.device
                                        </td>
                                        <td>
                                            @item.id
                                        </td>
                                        <td>
                                            @alarmName
                                        </td>
                                        <td>
                                            @item.tipo
                                        </td>
                                    </tr>
                                }

                                @if (Model.DataGlobalModel.Any() == false)
                                {
                                    <tr>
                                        <td colspan="4">
                                            Nenhum registro para exibir. Utilize o filtro para fazer nova busca.
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (Model.DataGlobalModel.Any())
    {
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item @(Model.PageIndex > 0 ? "" : "disabled")"><a id="prev-page" class="page-link" href="#">Anterior</a></li>
                        @if (Model.PageIndex > 0)
                        {
                            <li class="page-item"><a id="first-page" class="page-link" href="#">1</a></li>
                        }

                        <li class="page-item active"><a class="page-link" href="#">@(Model.PageIndex + 1)</a></li>

                        @if (Model.PageIndex < Model.PageTotal)
                        {
                            <li class="page-item"><a id="last-page" class="page-link" href="#">@(Model.PageTotal + 1)</a></li>
                        }

                        <li class="page-item @(Model.PageIndex < Model.PageTotal ? "" : "disabled")"><a id="next-page" class="page-link" href="#">Próximo</a></li>
                    </ul>
                </nav>

            </div>
            <div class="col-md-4"></div>
        </div>
    }

    
</div>

@section Scripts
    {

    <script type="text/javascript">

        $(document).ready(function () {

            $('#DeviceId').change(function(){
                $('#PageIndex').val('0');
                $('#PageTotal').val('0');
            });
            $('#MotorId').change(function () {
                $('#PageIndex').val('0');
                $('#PageTotal').val('0');

                populateDeviceSelect();
            });
            $('#StartDate').change(function () {
                $('#PageIndex').val('0');
                $('#PageTotal').val('0');
            });
            $('#EndDate').change(function () {
                $('#PageIndex').val('0');
                $('#PageTotal').val('0');
            });
            $('#Gravidade').change(function () {
                $('#PageIndex').val('0');
                $('#PageTotal').val('0');
            });

            $('#UnitId').bind('change', function () {
                populateMotorSelect('u');
            });
            $('#SectorId').bind('change', function () {
                populateMotorSelect('s');
            });
            $('#SubSectorId').bind('change', function () {
                populateMotorSelect('ss');
            });

            $('#btn-view-ocorrencias').bind('click', function (e) {
                let deviceId = $('#DeviceId').val();
                let motorId = $('#MotorId').val();
                let startDate = $('#StartDate').val();
                let endDate = $('#EndDate').val();

                $('#form-ocorrencias').submit();
            });

            $('#next-page').bind('click', function (e) {
                let nextPage = parseInt($('#PageIndex').val()) + 1;
                $('#PageIndex').val(nextPage);
                $('#form-ocorrencias').submit();
            });

            $('#prev-page').bind('click', function (e) {
                let prevPage = parseInt($('#PageIndex').val()) - 1;
                $('#PageIndex').val(prevPage);
                $('#form-ocorrencias').submit();
            });

            $('#first-page').bind('click', function (e) {
                $('#PageIndex').val('0');
                $('#form-ocorrencias').submit();
            });

            $('#last-page').bind('click', function (e) {
                $('#PageIndex').val('@(Model.PageTotal)');
                $('#form-ocorrencias').submit();
            });

            @if (ViewBag.UnitId != null)
            {
                <text>
                    $('#UnitId').val('@ViewBag.UnitId');
                </text>
            }

            @if (ViewBag.SectorId != null)
            {
                <text>
                    $('#SectorId').val('@ViewBag.SectorId');
                </text>
            }

            @if (ViewBag.SubSectorId != null)
            {
                <text>
                    $('#SubSectorId').val('@ViewBag.SubSectorId');
                </text>
            }
        });

        function populateMotorSelect(filtro) {

            $('#MotorId option').show();

            switch (filtro) {
                case 'u':
                    let unitId = $('#UnitId').val();
                    if (unitId != '') {
                        $('#MotorId option[uid!="' + unitId + '"]').hide();
                        $('#MotorId option[uid="' + unitId + '"]').show();

                        $('#SectorId option[uid!="' + unitId + '"]').hide();
                        $('#SectorId option[uid="' + unitId + '"]').show();
                    }
                    else {
                        $('#SectorId option').show();
                        $('#SubSectorId option').show();
                    }

                    $('#SectorId').val('');
                    $('#SubSectorId').val('');

                    break;
                case 's':
                    let sectorId = $('#SectorId').val();
                    if (sectorId != '') {
                        $('#MotorId option[sid!="' + sectorId + '"]').hide();
                        $('#MotorId option[sid="' + sectorId + '"]').show();

                        $('#SubSectorId option[sid!="' + sectorId + '"]').hide();
                        $('#SubSectorId option[sid="' + sectorId + '"]').show();
                    }
                    else {
                        $('#SubSectorId option').show();
                        populateMotorSelect('u');
                    }

                    $('#SubSectorId').val('');

                    break;
                case 'ss':
                    let subsectorId = $('#SubSectorId').val();
                    if (subsectorId != '') {
                        $('#MotorId option[ssid!="' + subsectorId + '"]').hide();
                        $('#MotorId option[ssid="' + subsectorId + '"]').show();
                    }
                    else
                        populateMotorSelect('s');

                    break;
                default:
                    break;
            }
        }

        function populateDeviceSelect() {
            let deviceSelect = $('#DeviceId');
            let motorId = $('#MotorId').val();
            deviceSelect.find('option').not(':first').remove();
            $.post('@Url.Content("~/Device/GetDeviceByMotorId")', { mId: motorId }, function (data) {
                $.each(data, function () {
                    deviceSelect.append($("<option />").val(this.id).text(this.tag));
                });
            });
        }
        

    </script>
}