@model Core.DTO.DeviceConfigurationModel

@inject SensorWeb.Resources.CommonLocalizationService localizer

@inject Core.Service.IDeviceMeasureService deviceMeasureService
@inject Core.Service.IMotorService motorService
@inject Core.Service.IDeviceService deviceService
@inject Core.Service.ICompanyService companyService

@{
    Layout = "~/Views/Shared/_Layout_Graficos.cshtml";

}

<style>
    #chartdiv {
        width: 100%;
        max-width: 100%;
        height: 500px;
        margin-bottom: 20px;
    }

    #overview {
        margin: 20px 0;
        width: 100%;
        max-width: 100%;
        height: 75px;
    }

    #legenddiv {
        margin: 0 20px 10px 20px;
        width: 100%;
        max-width: 100%;
        height: 5px;
    }

    .legendLayer .background {
        fill: rgba(255, 255, 255, 0.85);
        stroke: rgba(0, 0, 0, 0.85);
        stroke-width: 1;
    }
</style>

<h4 style="text-align:center">Relatório Dados Sensor</h4>
<hr />
<div class="container">


        <div class="row">
            
            <div class="form-group col-md-3">
                <label class="control-label">Equipamento</label>
                @Html.DropDownList("MotorId", new SelectList(motorService.GetQueryDropDownListByTag(), "Key", "Value"),
                @localizer.Get("MotorSelect"), new Dictionary<string, object> { { "class", "form-control main-selects" } })
                <span id="validation-MotorId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">Sensor</label>
                @Html.DropDownList("DeviceId", new SelectList(deviceService.GetQueryDropDownList(), "Key", "Value"),
                @localizer.Get("DeviceSelect"), new Dictionary<string, object> { { "class", "form-control main-selects" } })
                <span id="validation-DeviceId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">Dados</label>
                <select id="DataDeviceId" name="DataDeviceId" class="form-control">
                    <option value="">-- Selecione os Dados --</option>
                    @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.DeviceData)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <span id="validation-DataDeviceId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">&nbsp;</label>
                <input id="btn-visualizar" type="button" value="Visualizar" class="btn btn-primary" style="width:100%;" />
            </div>
        </div>

        <div id="grafico-wrapper" style="display:none;">

            <div id="overview"></div>
            <div id="legenddiv"></div>
            <div id="chartdiv"></div>

        </div>

</div>


@section Scripts
    {
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.event.drag.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.mousewheel.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.canvaswrapper.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.colorhelpers.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.saturated.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.browser.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.drawSeries.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.uiConstants.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.navigate.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.touchNavigate.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.hover.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.touch.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.time.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.selection.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.legend.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.tooltip.js")"></script>

    <script type="text/javascript">
        var valor_data = [];

        $(document).ready(function () {

            $('.main-selects').bind('change', function (e) {
                let deviceId = $('#DeviceId').val();
                let motorId = $('#MotorId').val();

                if (deviceId != '' && motorId != '')
                    document.location.href = '@Url.Action("ReportDeviceData")' + '?DeviceId=' + deviceId + '&MotorId=' + motorId;
            });

            $('#btn-visualizar').bind('click', function (e) {
                let dataId = $('#DataDeviceId').val();

                if (dataId != '')
                {
                    $.get('@Url.Action("ReportDeviceDataUpdate")?idDataReceive=' + dataId, function (data) {
                        $('#grafico-wrapper').show();

                        $.each(data, function (index, value) {
                            valor_data.push([value.tempo, value.valor]);
                        });

                        drawGraficos();
                    });
                }
            });

            
        });


        function drawGraficos() {
            var options = {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 2
                    },
                    points: {
                        show: false
                    },
                    sampling: 'average'
                },
                grid: {
                    hoverable: true
                },
                tooltip: {
                    show: true,
                    content: 'Tempo: %x.6 | Valor: %y.6'
                },
                colors: ["rgb(175,216,248)"]
            };

            var plot = $.plot($('#chartdiv'), [{ data: valor_data }], options);

            $("#chartdiv").bind("plotselected", function (event, ranges) {
                $.each(plot.getXAxes(), function (_, axis) {
                    var opts = axis.options;
                    opts.min = ranges.xaxis.from;
                    opts.max = ranges.xaxis.to;
                });
                plot.setupGrid();
                plot.draw();
                plot.clearSelection();

                // don't fire event on the overview to prevent eternal loop
                overview.setSelection(ranges, true);
            });


            var overview = $.plot("#overview", [{ data: valor_data }], {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 1
                    },
                    shadowSize: 0
                },
                xaxis: {
                    position: "top"
                },
                selection: {
                    mode: "x"
                },
                colors: ["rgb(175,216,248)"]
            });

            $("#overview").bind("plotselected", function (event, ranges) {
                plot.setSelection(ranges);
            });
        }

    </script>
}

