@using Core.DTO
@using System.Security.Claims
@model Core.DTO.DeviceConfigurationModel

@inject SensorWeb.Resources.CommonLocalizationService localizer

@inject Core.Service.IDeviceMeasureService deviceMeasureService
@inject Core.Service.IMotorService motorService
@inject Core.Service.IDeviceService deviceService
@inject Core.Service.ICompanyService companyService
@inject Core.Service.ICompanyUnitService unitService

@{
    Layout = "~/Views/Shared/_Layout_Graficos.cshtml";
    string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<style>
    #chartdiv {
        width: 100%;
        max-width: 100%;
        height: 500px;
        margin-bottom: 20px;
    }

    #overview {
        margin: 20px 0;
        width: 100%;
        max-width: 100%;
        height: 75px;
    }

    #legenddiv {
        margin: 0 20px 10px 20px;
        width: 100%;
        max-width: 100%;
        height: 5px;
    }

    .legendLayer .background {
        fill: rgba(255, 255, 255, 0.85);
        stroke: rgba(0, 0, 0, 0.85);
        stroke-width: 1;
    }

    .x2Label {
        fill: #224499;
        font-weight: bold;
        font-size: 18px;
        font-family: Tahoma, sans-serif;
    }

    .y2Label {
        fill: #224499;
        font-weight: bold;
        font-size: 18px;
        font-family: Tahoma, sans-serif;
    }

    .red-alarm-option {
        color: darkred;
    }
</style>

<h4 style="text-align:center">Sinal no Tempo</h4>
<hr />
<div class="container">

        <div class="row">

            <div class="form-group col-md-3">
                <label class="control-label">Empresa</label>
                <select id="CompanyId" name="CompanyId" style="" class="form-control main-selects">
                    @*@if (User.IsInRole("Administrador") || User.IsInRole("Sysadmin"))
                    {*@
                        <option value="">-- Selecione a Empresa --</option>
                    @*}*@
                        @foreach (var company in (List<Core.Company>)ViewBag.UserCompanies)
                        {
                            <option value="@company.Id">@company.LegalName</option>
                        }
                </select>
                <span id="validation-CompanyId" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3">
                <label class="control-label">Unidade</label>
                <select id="UnitId" name="UnitId" style="" class="form-control main-selects">
                    <option value="">-- Selecione a Unidade --</option>
                    @foreach (var unit in (List<SelectListCustomItemDTO>)unitService.GetQueryDropDownList(userId))
                    {
                        <option cid="@unit.CompanyId" value="@unit.Key">@unit.Value</option>
                    }
                </select>
            <span id="validation-UnitId" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3">
                <label class="control-label">Setor</label>
                <select id="SectorId" name="SectorId" style="" class="form-control main-selects">
                    <option value="">-- Selecione o Setor --</option>
                    @foreach (var sector in (List<SelectListCustomItemDTO>)unitService.GetQueryDropDownListSector(userId))
                    {
                        <option cid="@sector.CompanyId" uid="@sector.Unit" value="@sector.Key">@sector.Value</option>
                    }
                </select>
                    
            <span id="validation-SectorId" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3">
                <label class="control-label">Sub-Setor</label>
                <select id="SubSectorId" name="SubSectorId" style="" class="form-control main-selects">
                    <option value="">-- Selecione o Sub-Setor --</option>
                    @foreach (var subsector in (List<SelectListCustomItemDTO>)unitService.GetQueryDropDownListSubSector(userId))
                    {
                        <option cid="@subsector.CompanyId" uid="@subsector.Unit" sid="@subsector.Sector" value="@subsector.Key">@subsector.Value</option>
                    }
                </select>
            <span id="validation-SubSectorId" class="text-danger"></span>
            </div>

        </div>

        <div class="row">
            
            <div class="form-group col-md-3">
                <label class="control-label">Equipamento</label>
                <select id="MotorId" name="MotorId" asp-for="MotorId" style="" class="form-control main-selects">
                    <option value="">-- Selecione a Tag --</option>
                    @foreach (var motor in (List<MotorDropdownModel>)ViewBag.MotorSelect)
                    {
                        if (motor.IsSelected == false)
                        {
                            <option cid="@motor.CompanyId" uid="@motor.UnitId" sid="@motor.SectorId" ssid="@motor.SubSectorId" value="@motor.Id">@motor.Name</option>
                        }
                        else
                        {
                            <option cid="@motor.CompanyId" uid="@motor.UnitId" sid="@motor.SectorId" ssid="@motor.SubSectorId" value="@motor.Id" selected>@motor.Name</option>
                        }
                    
                    }
                </select>
                <span id="validation-MotorId" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3">
                <label class="control-label">Sensor</label>
                <select id="DeviceId" name="DeviceId" asp-for="DeviceId" style="" class="form-control main-selects">
                    <option value="">-- Selecione o Sensor --</option>
                    @if ((KeyValuePair<int?, string>?)ViewBag.DeviceSelect != null)
                    {
                        var deviceSelect = (KeyValuePair<int?, string>)ViewBag.DeviceSelect;

                        <option value="@deviceSelect.Key.Value" selected>@deviceSelect.Value</option>
                    }
                </select>
                <span id="validation-DeviceId" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3">
                <label class="control-label">Dados</label>
                <select id="DataDeviceId" name="DataDeviceId" class="form-control">
                    <option value="">-- Selecione os Dados --</option>
                    @foreach (var d in (IEnumerable<Core.ReceiveData>)ViewBag.DeviceData)
                    {
                        string itemText = string.Format("{0} - Tipo: {1} - Eixo: {2} - Freq: {3}", d.data_hora.Value.ToString("dd/MM/yyyy HH:mm:ss"),
                            (d.tipo == 1 ? "ACC" : "SPD"), SensorWeb.Controllers.ReportController.GetSetupInfo("eixo", d.setup_eixo), 
                            SensorWeb.Controllers.ReportController.GetSetupInfo("freq", d.setup_freq_cut));

                        <option class="@(d.alarme == 1 ? "red-alarm-option" : "")" value="@d.IdReceiveData">@itemText</option>
                    }
                </select>
                <span id="validation-DataDeviceId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">&nbsp;</label>
                <input id="btn-visualizar" type="button" value="Visualizar" class="btn btn-primary" style="width:100%;" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-3">
                <label class="control-label">&nbsp;</label>
                <input id="btn-exportar" type="button" value="Exportar CSV" class="btn btn-primary" style="width:100%;" />
            </div>
        </div>

        <div class="row head-row" style="display:none;">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-3">
                        <div>Data / hora: <b id="head-data"></b></div>
                    </div>
                    <div class="col-3">
                        <div>Tipo: <b id="head-tipo"></b></div>
                    </div>
                    <div class="col-3">
                        <div>Eixo: <b id ="head-eixo"></b></div>
                    </div>
                    <div class="col-3">
                        <div>Freq.: <b id="head-freq"></b></div>
                    </div>
                </div>
                <br>
            </div>
        </div>
 
        <div id="grafico-wrapper" style="display:none;">

            <div id="overview"></div>
            <div id="legenddiv"></div>
            <div id="chartdiv"></div>

        </div>

</div>


@section Scripts
    {
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.event.drag.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.mousewheel.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.canvaswrapper.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.colorhelpers.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.saturated.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.browser.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.drawSeries.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.uiConstants.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.navigate.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.touchNavigate.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.hover.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.touch.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.time.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.selection.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.legend.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.tooltip.js")"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/js/source/jquery.flot.axislabels.js")"></script>

    <script type="text/javascript">
        var valor_data = [];

        $(document).ready(function () {

            $('#MotorId').bind('change', function () {
                populateDeviceSelect();
            });

            $('#DeviceId').bind('change', function (e) {
                let companyId = $('#CompanyId').val();
                let deviceId = $('#DeviceId').val();
                let motorId = $('#MotorId').val();
                let deviceIdName = $("#DeviceId option:selected").text();
                let unitId = $('#UnitId').val();
                let sectorId = $('#SectorId').val();
                let subId = $('#SubSectorId').val();

                $('#btn-exportar').hide();

                if (deviceId != '' && motorId != '')
                    document.location.href = '@Url.Action("ReportDeviceData")' + '?DeviceId=' + deviceId
                        + '&MotorId=' + motorId + '&DeviceIdName=' + deviceIdName + '&UnitId=' + unitId
                        + '&CompanyId=' + companyId + '&SectorId=' + sectorId + '&SubSectorId=' + subId;
            });

            $('#CompanyId').bind('change', function () {
                populateMotorSelect('c');
            });
            $('#UnitId').bind('change', function () {
                populateMotorSelect('u');
            });
            $('#SectorId').bind('change', function () {
                populateMotorSelect('s');
            });
            $('#SubSectorId').bind('change', function () {
                populateMotorSelect('ss');
            });

            $('#btn-visualizar').bind('click', function (e) {
                let dataId = $('#DataDeviceId').val();

                if (dataId != '')
                {
                    $('#btn-exportar').show();

                    $.get('@Url.Action("ReportDeviceDataUpdate")?idDataReceive=' + dataId, function (data) {
                        valor_data = [];
                        $('#grafico-wrapper').show();
                        $('.head-row').show();

                        $.each(data, function (index, value) {
                            valor_data.push([value.tempo, value.valor]);
                        });

                        drawGraficos();
                        updateHeader();
                    });
                }
            });

            $('#btn-exportar').bind('click', function (e) {
                let dataId = $('#DataDeviceId').val();

                if (dataId != '') {
                    window.location = '@Url.Action("ReportDeviceDataExport")?idDataReceive=' + dataId;
                }
            });


            @if (ViewBag.DeviceDataId != null)
            {
                <text>
                    setTimeout(function(){
                        $('#DataDeviceId').val($("#DataDeviceId option:eq(1)").val());
                        $('#btn-visualizar').click();
                    }, 200);
                </text>
            }

            @if (ViewBag.CompanyId != null)
            {
                <text>
                    $('#CompanyId').val('@ViewBag.CompanyId');
                    populateMotorSelect('c');
                </text>
            }

            @if (ViewBag.UnitId != null)
            {
                <text>
                    $('#UnitId').val('@ViewBag.UnitId');
                    populateMotorSelect('u');
                </text>
            }

            @if (ViewBag.SectorId != null)
            {
                <text>
                    $('#SectorId').val('@ViewBag.SectorId');
                    populateMotorSelect('s');
                </text>
            }

            @if (ViewBag.SubSectorId != null)
            {
                <text>
                    $('#SubSectorId').val('@ViewBag.SubSectorId');
                    populateMotorSelect('ss');
                </text>
            }

            @if (ViewBag.MotorId != null)
            {
                <text>
                    $('#MotorId').val('@ViewBag.MotorId');
                </text>
            }
        });

        function populateMotorSelect(filtro) {

            $('#btn-exportar').hide();
            $('#MotorId option').show();

            switch(filtro){
                case 'c':
                    let companyId = $('#CompanyId').val();
                    if (companyId != '') {
                        $('#MotorId option[cid!="' + companyId + '"]').hide();
                        $('#MotorId option[cid="' + companyId + '"]').show();

                        $('#UnitId option[cid!="' + companyId + '"]').hide();
                        $('#UnitId option[cid="' + companyId + '"]').show();

                        $('#SectorId option[cid!="' + companyId + '"]').hide();
                        $('#SectorId option[cid="' + companyId + '"]').show();

                        $('#SubSectorId option[cid!="' + companyId + '"]').hide();
                        $('#SubSectorId option[cid="' + companyId + '"]').show();
                    }
                    else {
                        $('#UnitId option').show();
                        $('#SectorId option').show();
                        $('#SubSectorId option').show();
                    }

                    $('#UnitId').val('');
                    $('#SectorId').val('');
                    $('#SubSectorId').val('');

                    break;
                case 'u':
                    let unitId = $('#UnitId').val();
                    if (unitId != '') {
                        $('#MotorId option[uid!="' + unitId + '"]').hide();
                        $('#MotorId option[uid="' + unitId + '"]').show();

                        $('#SectorId option[uid!="' + unitId + '"]').hide();
                        $('#SectorId option[uid="' + unitId + '"]').show();
                    }
                    else {
                        $('#SectorId option').show();
                        $('#SubSectorId option').show();
                    }

                    $('#SectorId').val('');
                    $('#SubSectorId').val('');

                    break;
                case 's':
                    let sectorId = $('#SectorId').val();
                    if (sectorId != '') {
                        $('#MotorId option[sid!="' + sectorId + '"]').hide();
                        $('#MotorId option[sid="' + sectorId + '"]').show();

                        $('#SubSectorId option[sid!="' + sectorId + '"]').hide();
                        $('#SubSectorId option[sid="' + sectorId + '"]').show();
                    }
                    else {
                        $('#SubSectorId option').show();
                        populateMotorSelect('u');
                    }

                    $('#SubSectorId').val('');

                    break;
                case 'ss':
                    let subsectorId = $('#SubSectorId').val();
                    if (subsectorId != '') {
                        $('#MotorId option[ssid!="' + subsectorId + '"]').hide();
                        $('#MotorId option[ssid="' + subsectorId + '"]').show();
                    }
                    else
                        populateMotorSelect('s');
                    
                    break;
                default:
                    break;
            }
        }

        function populateDeviceSelect() {
            $('#btn-exportar').hide();
            let deviceSelect = $('#DeviceId');
            let motorId = $('#MotorId').val();
            deviceSelect.find('option').not(':first').remove();
            $.post('@Url.Content("~/Device/GetDeviceByMotorId")', { mId: motorId }, function (data) {
                $.each(data, function () {
                    deviceSelect.append($("<option />").val(this.id).text(this.tag));
                });
            });
        }

        function drawGraficos() {
            var options = {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 2
                    },
                    points: {
                        show: false
                    },
                    sampling: 'average'
                },
                yaxes: [
                    { position: 'left', show: true, showTicks: true, },
                    { position: 'left', show: true, axisLabel: 'G', showTickLabels: 'none', gridLines: false, showTicks: false }
                ],
                xaxes: [
                    { position: 'bottom', show: true, showTicks: true, },
                    { position: 'bottom', show: true, axisLabel: 'Segundos', showTickLabels: 'none', gridLines: false, showTicks: false }
                ],
                grid: {
                    hoverable: true
                },
                tooltip: {
                    show: true,
                    content: 'Tempo: %x.6 | Valor: %y.6'
                },
                colors: ["rgb(51,102,204)"]
            };

            var plot = $.plot($('#chartdiv'), [{ data: valor_data }], options);

            $("#chartdiv").bind("plotselected", function (event, ranges) {
                $.each(plot.getXAxes(), function (_, axis) {
                    var opts = axis.options;
                    opts.min = ranges.xaxis.from;
                    opts.max = ranges.xaxis.to;
                });
                plot.setupGrid();
                plot.draw();
                plot.clearSelection();

                // don't fire event on the overview to prevent eternal loop
                overview.setSelection(ranges, true);
            });


            var overview = $.plot("#overview", [{ data: valor_data }], {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 1
                    },
                    shadowSize: 0
                },
                xaxis: {
                    position: "top"
                },
                selection: {
                    mode: "x"
                },
                colors: ["rgb(51,102,204)"]
            });

            $("#overview").bind("plotselected", function (event, ranges) {
                plot.setSelection(ranges);
            });
        }

        function updateHeader() {
            let dataText = $('#DataDeviceId option:selected').text();
            let dataTextParts = dataText.split(' - ');

            let headData = dataTextParts[0];
            let headTipo = dataTextParts[1].substring(6);
            let headEixo = dataTextParts[2].substring(6);
            let headFreq = dataTextParts[3].substring(6);

            $('#head-row').show();
            $('#head-data').text(headData);
            $('#head-tipo').text(headTipo);
            $('#head-eixo').text(headEixo);
            $('#head-freq').text(headFreq);
        }

    </script>
}

