@model SensorWeb.Models.DeviceMeasureModel

@inject SensorWeb.Resources.CommonLocalizationService localizer

@inject Core.Service.IDeviceMeasureService deviceMeasureService
@inject Core.Service.IMotorService motorService
@inject Core.Service.ICompanyService companyService

<h4 style="text-align:center">Configuração Leitura</h4>
<hr />
<form asp-action="Index">
    <div class="container">
        <div class="row">
            <div class="col-md-12  pl-0 pr-0" style="display:flex">
                <div class="col-md-5 pl-0 pr-0">
                    <table>
                        <tr>
                            <td>
                                <label class="control-label">Empresa</label>
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.CompanyId, new SelectList(companyService.GetQueryDropDownList(), "Key", "Value"),
                                @localizer.Get("CompanySelect"), new Dictionary<string, object> { { "class", "form-control" } })

                                <span asp-validation-for="CompanyId" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" >Equipamento</label>
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.MotorId, new SelectList(motorService.GetQueryDropDownListByTag(), "Key", "Value"),
                                                      @localizer.Get("MotorSelect"), new Dictionary<string, object> { { "class", "form-control" } })

                                <span asp-validation-for="MotorId" class="text-danger"></span>

                                <script>
                                    $(document).ready(function () {
                                        $('#MotorId').on('change', function () {
                                            $(this).closest('form').submit();
                                        });
                                    });
                                </script>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label class="control-label" >Dados</label>
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.ReadDataType, new SelectList(deviceMeasureService.GetQueryDropDownListByDeviceId(Convert.ToInt32(@ViewData["DeviceId"])), "Value", "Value"),
                                                      @localizer.Get("DeviceMeasureSelect"), new Dictionary<string, object> { { "class", "form-control" } })
                                <span asp-validation-for="ReadDataType" class="text-danger"></span>

                                <script>
                                    $(document).ready(function () {
                                        $('#ReadDataType').on('change', function () {
                                            $(this).closest('form').submit();
                                        });
                                    });
                                </script>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" >Frequencia</label>
                            </td>
                            <td>
                                <select name="Frequency" id="Frequency" class="form-control" style="width:100%">
                                    <option value="1">15Hz</option>
                                    <option value="2">20Hz</option>
                                    <option value="3">25Hz</option>
                                    <option value="4">30Hz</option>
                                    <option value="5">35Hz</option>
                                    <option value="6">40Hz</option>
                                    <option value="7">45Hz</option>
                                    <option value="8">50Hz</option>
                                    <option value="9">55Hz</option>
                                    <option value="10">60Hz</option>
                                    <option value="11">65Hz</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" >BDR</label>
                            </td>
                            <td>
                                <select name="BDR" id="BDR" class="form-control" style="width:100%">
                                    <option value="1">52Hz</option>
                                    <option value="2">104Hz</option>
                                    <option value="3">208Hz</option>
                                    <option value="4">417Hz</option>
                                    <option value="5">833Hz</option>
                                    <option value="6">1.667Hz</option>
                                    <option value="7">3.333Hz</option>
                                    <option value="8">6.667Hz</option>
                                    <option value="9">13.333Hz</option>
                                    <option value="10">26.667Hz</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" >CutOff</label>
                            </td>
                            <td>
                                <select name="Cutoff" id="Cutoff" class="form-control" style="width:100%">
                                    <option value="1">6.667Hz</option>
                                    <option value="2">2.667Hz</option>
                                    <option value="3">1.333Hz</option>
                                    <option value="4">593Hz</option>
                                    <option value="5">267Hz</option>
                                    <option value="6">133Hz</option>
                                    <option value="7">67Hz</option>
                                    <option value="8">33Hz</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" >LPF</label>
                            </td>
                            <td>
                                <select name="LPF" id="LPF" style="width:100%" class="form-control">
                                    <option value="1">HPF - High Pass Filter </option>
                                    <option value="2">LPF - Low Pass Filter</option>
                                    <option value="3">LPF + LPF2_Off</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" >Lines</label>
                            </td>
                            <td>
                                <select name="lines" id="lines" style="width:100%" class="form-control">
                                    <option value="1">512</option>
                                    <option value="2">1024</option>
                                    <option value="3">2048</option>
                                    <option value="4">3456</option>
                                    <option value="5">4096</option>
                                    <option value="6">6144</option>
                                    <option value="7">8192</option>
                                    <option value="8">10240</option>
                                    <option value="9">16384</option>
                                    <option value="10">30080</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" >Eixos</label>
                            </td>
                            <td>
                                <select name="axles" id="axles" style="width:100%" class="form-control">
                                    <option value="1">Eixo X</option>
                                    <option value="2">Eixo Y</option>
                                    <option value="3">Eixo Z</option>
                                    <option value="4">Eixos X Y Z</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" >Temperatura</label>
                            </td>
                            <td><input value="25 " class="form-control" /></td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" >RMS</label>
                            </td>
                            <td><input  value="0 g" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" >Bateria</label>
                            </td>
                            <td><input  value="100%" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" >Timer</label>
                            </td>
                            <td><input placeholder="Horas" class="form-control" /></td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <div class="form-group" style="margin-top:100px">
                                    <a href="@Url.Action("Index", "Company")"><input asp-action="Index" type="button" value="Salvar Proxima Leitura" class="btn btn-primary" /></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="form-group">
                                    <a href="@Url.Action("Index", "Company")"><input asp-action="Index" type="button" value="Salvar Leitura" class="btn btn-primary" /></a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
