@model SensorWeb.Models.MotorModel

@inject SensorWeb.Resources.CommonLocalizationService localizer
@inject Core.Service.IMachineService machineService
@inject Core.Service.IFixationTypeService fixationService
@inject Core.Service.ICouplingTypeService couplingService
@inject Core.Service.ICardanShaftTypeService cardanShaftTypeService
@inject Core.Service.IPumpTypeService pumpTypeService
@inject Core.Service.ICompressorTypeService compressorTypeService
@inject Core.Service.IDeviceService deviceService
@inject Core.Service.ICompanyService companyService

<link href="@Url.Content("~/css/screenCustomMotor.css?p=4")" rel="stylesheet" />

<h4 class="screenTitle">Visualizar Equipamento </h4>
<hr />

<script>

    $('body').ready(function () {

        $('input').attr('readonly','readonly');
        $('select').attr('disabled', 'disabled');

        hideGroups();
        aFunc($("#TypeId").val());

        $.get('@Url.Content("~/Device/GetDeviceData")?id=' + $("#DeviceId").val(), function (data) {
            if (data != null && data.id != null) {
                $("#DFrequency").val(data.frequency);
                $("#DBdr").val(data.bdr);
                $("#DCutoff").val(data.cutoff);
                $("#DLpf").val(data.lpf);
                $("#DLines").val(data.lines);
                $("#DAxies").val(data.axies);

                $("#DTemperature").val(data.temperature);
                $("#DRms").val(data.rms);
                $("#DBattery").val(data.battery);
                $("#DHours").val(data.hours);
                $("#DVelocityMin").val(data.velocityMin);
                $("#DVelocityMax").val(data.velocityMax);
                $("#DAccelerationMin").val(data.accelerationMin);
                $("#DAccelerationMax").val(data.accelerationMax);
                $("#DCrestFactorMin").val(data.crestFactorMin);
                $("#DCrestFactorMax").val(data.crestFactorMax);
            }
        });
    });

    function hideGroups() {
        $(".motorgroup").hide();
        $(".acopladorgroup").hide();
        $(".cardangroup").hide();
        $(".poliagroup").hide();
        $(".coroagroup").hide();
        $(".redutorgroup").hide();
        $(".bombagroup").hide();
        $(".ventiladorgroup").hide();
        $(".compressorgroup").hide();
        $(".resfriamentogroup").hide();
        $(".geradorgroup").hide();
    }

    //$(document).on('load', '#TypeId', function () {
    //    alert(this.value);
    //    aFunc();
    //});

    ///;//$('#TypeId').load(aFunc);

    /*$(document).on('change', '#TypeId', aFunc);*/
    $(document).on('change', '#TypeId', function () { aFunc($("#TypeId").val()); });
    /*$(document).on('load', '#TypeId', aFunc);*/

    function hideGroups() {
        $(".motorgroup").hide();
        $(".acopladorgroup").hide();
        $(".cardangroup").hide();
        $(".poliagroup").hide();
        $(".coroagroup").hide();
        $(".redutorgroup").hide();
        $(".bombagroup").hide();
        $(".ventiladorgroup").hide();
        $(".compressorgroup").hide();
        $(".resfriamentogroup").hide();
        $(".geradorgroup").hide();
    }

    function aFunc(typeId) {
        hideGroups();

        if (typeId == 1) {
            $(".motorgroup").show();
            $(".acopladorgroup").show();
            $(".cardangroup").show();
            $(".poliagroup").show();
            $(".coroagroup").show();
        }

        if (typeId == 2) {
            $(".acopladorgroup").show();
        }

        if (typeId == 3) {
            $(".cardangroup").show();
        }

        if (typeId == 4) {
            $(".poliagroup").show();
        }

        if (typeId == 5) {
            $(".coroagroup").show();
        }

        if (typeId == 6) {
            $(".redutorgroup").show();
        }

        if (typeId == 7) {
            $(".bombagroup").show();
        }

        if (typeId == 8) {
            $(".ventiladorgroup").show();
        }

        if (typeId == 9) {
            $(".compressorgroup").show();
        }

        if (typeId == 10) {
            $(".resfriamentogroup").show();
        }

        if (typeId == 11) {
            $(".geradorgroup").show();
        }
    }

</script>

<div class="row screenCreate">
    <div class="col-md-12 formclasscreate">
        <form asp-action="Create" style="min-width: 900px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*Equipamento*@
            @*<label for="input1" class="col-sm-2 labelbox">
            <span class="h6 small bg-white text-muted pt-1 pl-2 pr-2 pb-1">Equipamento</span>
            </label>*@
            <div class="col-md-12 formclasscreate ">

                <div class="form-group" style="display:none">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" readonly />
                </div>

                <div class="form-group col-md-3">
                    <label asp-for="CompanyId" class="control-label"></label>
                    @Html.DropDownListFor(model => model.CompanyId, new SelectList(companyService.GetQueryDropDownList(), "Key", "Value"),
                    @localizer.Get("CompanySelect"), new Dictionary<string, object> { { "class", "form-control" } })
                    <span asp-validation-for="CompanyId" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3">
                    <label class="control-label">Unidade</label>
                    <input value="@ViewBag.UnitName" class="form-control" readonly />
                </div>

                <div class="form-group col-md-3">
                    <label class="control-label">Setor</label>
                    <input value="@ViewBag.SectorName" class="form-control" readonly />
                </div>

                <div class="form-group col-md-3">
                    <label class="control-label">Sub-Setor</label>
                    <input value="@ViewBag.SubSectorName" class="form-control" readonly />
                </div>
            </div>

            <div class="mt-n3" id="input1">

                @*Equipamento*@
                <div class="col-md-12 formclasscreate ">
                    <div class="form-group col-md-4" style="display: grid;">
                        <label class="control-label">Tipo de Equipamento</label>
                        <select name="TypeId" asp-for="TypeId" id="TypeId" style="width:100%" class="form-control">
                            <option value="">-- Selecione o Tipo de Equipamento --</option>
                            <option value="1">Motor</option>
                            @*<option value="2">Acomplador</option>
                            <option value="3">Eixo Cardan</option>
                            <option value="4">Polias/Correntes</option>
                            <option value="5">Coroa/Correntes</option>*@
                            <option value="6">Redutores</option>
                            <option value="7">Bomba</option>
                            <option value="8">Ventilador/Exaustor</option>
                            <option value="9">Compressor</option>
                        </select>
                    </div>


                    <div class="form-group col-md-8">
                        <label asp-for="Observation" class="control-label"></label>
                        <input asp-for="Observation" class="form-control" />
                        <span asp-validation-for="Observation" class="text-danger"></span>
                    </div>

                </div>
            </div>

            @*Motor Eletrico*@
            @*<label for="input1" class="col-sm-2 labelbox motorgroup">
            <span class="h6 small bg-white text-muted pt-1 pl-2 pr-2 pb-1">@localizer.Get("EletricMotor")</span>
            </label>*@
            <div class="mt-n3" id="input1" style="padding-top: 10px; ">

                @*Motor Eletrico*@
                <div class="col-md-12 formclasscreate ">

                    <div class="form-group col-md-3 motorgroup" style="display: grid;">
                        <label asp-for="MachineId" class="control-label"></label>
                        @Html.DropDownListFor(model => model.MachineId, new SelectList(machineService.GetQueryDropDownList(), "Key", "Value"),
                        @localizer.Get("MachineSelect"), new Dictionary<string, object> { { "class", "form-control" } })
                        <span asp-validation-for="MachineId" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2 motorgroup redutorgroup bombagroup ventiladorgroup compressorgroup resfriamentogroup geradorgroup">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2 motorgroup resfriamentogroup geradorgroup">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2 motorgroup resfriamentogroup geradorgroup">
                        <label asp-for="Tag" class="control-label"></label>
                        <input asp-for="Tag" class="form-control" />
                        <span asp-validation-for="Tag" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2 motorgroup">
                        <label asp-for="Manufacturer" class="control-label"></label>
                        <input asp-for="Manufacturer" class="form-control" />
                        <span asp-validation-for="Manufacturer" class="text-danger"></span>
                    </div>
                    <div class="form-group  col-md-1 motorgroup">
                        <label asp-for="Carcase" class="control-label"></label>
                        <input asp-for="Carcase" class="form-control" />
                        <span asp-validation-for="Carcase" class="text-danger"></span>
                    </div>


                </div>

                @*Motor Eletrico*@
                <div class="col-md-12 formclasscreate motorgroup">

                    <div class="form-group col-md-1">
                        <label asp-for="CvPotency" class="control-label"></label>
                        <input asp-for="CvPotency" class="form-control" />
                        <span asp-validation-for="CvPotency" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-1">
                        <label asp-for="KwPotency" class="control-label"></label>
                        <input asp-for="KwPotency" class="form-control" />
                        <span asp-validation-for="KwPotency" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="RpmPotency" class="control-label"></label>
                        <input asp-for="RpmPotency" class="form-control" />
                        <span asp-validation-for="RpmPotency" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="Voltage" class="control-label"></label>
                        <input asp-for="Voltage" class="form-control" />
                        <span asp-validation-for="Voltage" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="ElectricCurrent" class="control-label"></label>
                        <input asp-for="ElectricCurrent" class="form-control" />
                        <span asp-validation-for="ElectricCurrent" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-1">
                        <label asp-for="Frequency" class="control-label"></label>
                        <input asp-for="Frequency" class="form-control" />
                        <span asp-validation-for="Frequency" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="IsolationClass" class="control-label"></label>
                        <input asp-for="IsolationClass" class="form-control" />
                        <span asp-validation-for="IsolationClass" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="Ip" class="control-label"></label>
                        <input asp-for="Ip" class="form-control" />
                        <span asp-validation-for="Ip" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="Yeld" class="control-label"></label>
                        <input asp-for="Yeld" class="form-control" />
                        <span asp-validation-for="Yeld" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="Sf" class="control-label"></label>
                        <input asp-for="Sf" class="form-control" />
                        <span asp-validation-for="Sf" class="text-danger"></span>
                    </div>


                </div>

                @*Motor Eletrico*@
                <div class="col-md-12 formclasscreate motorgroup">

                    <div class="form-group col-md-1">
                        <label asp-for="Pf" class="control-label"></label>
                        <input asp-for="Pf" class="form-control" />
                        <span asp-validation-for="Pf" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="Category" class="control-label"></label>
                        <input asp-for="Category" class="form-control" />
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-5">
                        <label asp-for="Bushing" class="control-label"></label>
                        <input asp-for="Bushing" class="form-control" />
                        <span asp-validation-for="Bushing" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-5">
                        <label asp-for="Lubrication" class="control-label"></label>
                        <input asp-for="Lubrication" class="form-control" />
                        <span asp-validation-for="Lubrication" class="text-danger"></span>
                    </div>
                </div>


                @*Motor Eletrico*@
                <div class="col-md-12 formclasscreate motorgroup">
                    <div class="form-group col-md-6" style="display: grid;">
                        <label asp-for="FixationTypeId" class="control-label"></label>
                        @Html.DropDownListFor(model => model.FixationTypeId, new SelectList(fixationService.GetQueryDropDownList(), "Key", "Value"),
                        @localizer.Get("FixationTypeSelect"), new Dictionary<string, object> { { "class", "form-control" } })
                        <span asp-validation-for="FixationTypeId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @*Acoplamento*@
            @*<label for="input2" class="col-sm-2 labelbox acopladorgroup">
            <span class="h6 small bg-white text-muted pt-1 pl-2 pr-2 pb-1">@localizer.Get("Coupling")</span>
            </label>*@
            <div class="mt-n3 acopladorgroup" id="input2">
                <div class="col-md-12 formclasscreate">
                    <div class="form-group col-md-4" style=" display: grid;">
                        <label asp-for="CouplingTypeId" class="control-label"></label>
                        @Html.DropDownListFor(model => model.CouplingTypeId,
                        new SelectList(couplingService.GetQueryDropDownList(), "Key", "Value")
                        , @localizer.Get("CouplingTypeSelect"), new Dictionary<string, object> { { "class", "form-control" } })
                        <span asp-validation-for="CouplingTypeId" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="CouplingBrand" class="control-label"></label>
                        <input asp-for="CouplingBrand" class="form-control" />
                        <span asp-validation-for="CouplingBrand" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="CouplingModel" class="control-label"></label>
                        <input asp-for="CouplingModel" class="form-control" />
                        <span asp-validation-for="CouplingModel" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="CouplingDescription" class="control-label"></label>
                        <input asp-for="CouplingDescription" class="form-control" />
                        <span asp-validation-for="CouplingDescription" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @*Eixo Cardan*@
            @*<label for="input3" class="col-sm-2 labelbox cardangroup">
            <span class="h6 small bg-white text-muted pt-1 pl-2 pr-2 pb-1">@localizer.Get("CardanShaft")</span>
            </label>*@
            <div class="mt-n3 cardangroup" id="input3">
                <div class="col-md-6 formclasscreate">
                    <div class="form-group col-md-7" style="display: grid;">
                        <label asp-for="CardanShaftTypeId" class="control-label"></label>
                        @Html.DropDownListFor(model => model.CardanShaftTypeId, new SelectList(cardanShaftTypeService.GetQueryDropDownList(), "Key", "Value"),
                        @localizer.Get("CardanShaftTypeSelect"), new Dictionary<string, object> { { "class", "form-control" } })
                        <span asp-validation-for="CardanShaftTypeId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @*Polia/Correntes*@
            @*<label for="input4" class="col-sm-2 labelbox poliagroup">
            <span class="h6 small bg-white text-muted pt-1 pl-2 pr-2 pb-1">@localizer.Get("PulleyBox")</span>
            </label>*@
            <div class="mt-n3 poliagroup" id="input4">

                @*Polias/Correntes*@
                <div class="col-md-12 formclasscreate">
                    <div class="form-group col-md-2">
                        <label asp-for="PulleyD1" class="control-label"></label>
                        <input asp-for="PulleyD1" class="form-control" />
                        <span asp-validation-for="PulleyD1" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="PulleyD2" class="control-label"></label>
                        <input asp-for="PulleyD2" class="form-control" />
                        <span asp-validation-for="PulleyD2" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="PulleyRatio" class="control-label"></label>
                        <input asp-for="PulleyRatio" class="form-control" />
                        <span asp-validation-for="PulleyRatio" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-3">
                        <label asp-for="PulleyBetweenAxles" class="control-label"></label>
                        <input asp-for="PulleyBetweenAxles" class="form-control" />
                        <span asp-validation-for="PulleyBetweenAxles" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="PulleyBeltQuantity" class="control-label"></label>
                        <input asp-for="PulleyBeltQuantity" class="form-control" />
                        <span asp-validation-for="PulleyBeltQuantity" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @*Coroa/Correntes*@
            @*<label for="input5" class="col-sm-2 labelbox coroagroup">
            <span class="h6 small bg-white text-muted pt-1 pl-2 pr-2 pb-1">@localizer.Get("CoroaBox")</span>
            </label>*@
            <div class="mt-n3 coroagroup" id="input5">
                @*Coroa/Corrente*@
                <div class="col-md-12 formclasscreate">
                    <div class="form-group col-md-3">
                        <label asp-for="RingDriveGearTeethZ1" class="control-label"></label>
                        <input asp-for="RingDriveGearTeethZ1" class="form-control" />
                        <span asp-validation-for="RingDriveGearTeethZ1" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-3">
                        <label asp-for="RingDriveGearTeethZ2" class="control-label"></label>
                        <input asp-for="RingDriveGearTeethZ2" class="form-control" />
                        <span asp-validation-for="RingDriveGearTeethZ2" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-3">
                        <label asp-for="RingRatio" class="control-label"></label>
                        <input asp-for="RingRatio" class="form-control" />
                        <span asp-validation-for="RingRatio" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-3">
                        <label asp-for="RingBetweenAxles" class="control-label"></label>
                        <input asp-for="RingBetweenAxles" class="form-control" />
                        <span asp-validation-for="RingBetweenAxles" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @*Redutor*@
            @*<label for="input6" class="col-sm-2 labelbox redutorgroup ">
            <span class="h6 small bg-white text-muted pt-1 pl-2 pr-2 pb-1">@localizer.Get("Reducer")</span>
            </label>*@
            <div class="mt-n3 redutorgroup " id="input6">

                @*Redutor*@
                <div class="col-md-12 formclasscreate">
                    <div class="form-group col-md-3">
                        <label asp-for="ReducerDescription" class="control-label"></label>
                        <input asp-for="ReducerDescription" class="form-control" />
                        <span asp-validation-for="ReducerDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="ReducerTag" class="control-label"></label>
                        <input asp-for="ReducerTag" class="form-control" />
                        <span asp-validation-for="ReducerTag" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="ReducerBrand" class="control-label"></label>
                        <input asp-for="ReducerBrand" class="form-control" />
                        <span asp-validation-for="ReducerBrand" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="ReducerModel" class="control-label"></label>
                        <input asp-for="ReducerModel" class="form-control" />
                        <span asp-validation-for="ReducerModel" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="ReducerSerialNumber" class="control-label"></label>
                        <input asp-for="ReducerSerialNumber" class="form-control" />
                        <span asp-validation-for="ReducerSerialNumber" class="text-danger"></span>
                    </div>
                </div>

                @*Redutor*@
                <div class="col-md-12 formclasscreate">
                    <div class="form-group col-md-3">
                        <label asp-for="ReducerRatio" class="control-label"></label>
                        <input asp-for="ReducerRatio" class="form-control" />
                        <span asp-validation-for="ReducerRatio" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="ReducerNumberOfAxles" class="control-label"></label>
                        <input asp-for="ReducerNumberOfAxles" class="form-control" />
                        <span asp-validation-for="ReducerNumberOfAxles" class="text-danger"></span>
                    </div>

                </div>
            </div>

            @*Pump*@
            @*<label for="input7" class="col-sm-2 labelbox bombagroup">
            <span class="h6 small bg-white text-muted pt-1 pl-2 pr-2 pb-1">@localizer.Get("Pump")</span>
            </label>*@
            <div class="mt-n3 bombagroup" id="input7">
                @*Bomba*@
                <div class="col-md-12 formclasscreate">
                    <div class="form-group col-md-3" style="display: grid;">
                        <label asp-for="PumpTypeId" class="control-label"></label>
                        @Html.DropDownListFor(model => model.PumpTypeId, new SelectList(pumpTypeService.GetQueryDropDownList(), "Key", "Value"),
                        @localizer.Get("PumpTypeSelect"), new Dictionary<string, object> { { "class", "form-control" } })
                        <span asp-validation-for="PumpTypeId" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-3">
                        <label asp-for="PumpDescription" class="control-label"></label>
                        <input asp-for="PumpDescription" class="form-control" />
                        <span asp-validation-for="PumpDescription" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="PumpTag" class="control-label"></label>
                        <input asp-for="PumpTag" class="form-control" />
                        <span asp-validation-for="PumpTag" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="PumpBrand" class="control-label"></label>
                        <input asp-for="PumpBrand" class="form-control" />
                        <span asp-validation-for="PumpBrand" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="PumpModel" class="control-label"></label>
                        <input asp-for="PumpModel" class="form-control" />
                        <span asp-validation-for="PumpModel" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @*ExaustFan*@
            @*<label for="input8" class="col-sm-2 labelbox ventiladorgroup">
            <span class="h6 small bg-white text-muted pt-1 pl-2 pr-2 pb-1">@localizer.Get("ExaustFan")</span>
            </label>*@
            <div class="mt-n3 ventiladorgroup" id="input8">
                @*Ventilador/Exaustor*@
                <div class="col-md-12 formclasscreate">
                    <div class="form-group col-md-2">
                        <label asp-for="ExhaustFanDescription" class="control-label"></label>
                        <input asp-for="ExhaustFanDescription" class="form-control" />
                        <span asp-validation-for="ExhaustFanDescription" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="ExhaustFanTag" class="control-label"></label>
                        <input asp-for="ExhaustFanTag" class="form-control" />
                        <span asp-validation-for="ExhaustFanTag" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="ExhaustFanBrand" class="control-label"></label>
                        <input asp-for="ExhaustFanBrand" class="form-control" />
                        <span asp-validation-for="ExhaustFanBrand" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="ExhaustFanModel" class="control-label"></label>
                        <input asp-for="ExhaustFanModel" class="form-control" />
                        <span asp-validation-for="ExhaustFanModel" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="ExhaustFanRotorDiameter" class="control-label"></label>
                        <input asp-for="ExhaustFanRotorDiameter" class="form-control" />
                        <span asp-validation-for="ExhaustFanRotorDiameter" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="ExhaustFanNumberOfBlades" class="control-label"></label>
                        <input asp-for="ExhaustFanNumberOfBlades" class="form-control" />
                        <span asp-validation-for="ExhaustFanNumberOfBlades" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @*Compressor*@
            @*<label for="input9" class="col-sm-2 labelbox compressorgroup">
            <span class="h6 small bg-white text-muted pt-1 pl-2 pr-2 pb-1">@localizer.Get("Compressor")</span>
            </label>*@
            <div class="mt-n3 compressorgroup" id="input9">
                @*Compressor*@
                <div class="col-md-12 formclasscreate">

                    @*<div class="form-group col-md-3" style="display: grid;">
                    <label asp-for="CompressorTypeId" class="control-label"></label>
                    @Html.DropDownListFor(model => model.CompressorTypeId, new SelectList(compressorTypeService.GetQueryDropDownList(), "Key", "Value"),
                    @localizer.Get("CompressorTypeSelect"), new Dictionary<string, object> { { "class", "form-control fake-sel" } })
                    <span asp-validation-for="CompressorTypeId" class="text-danger"></span>
                    </div>*@

                    <div class="form-group col-md-3" style="display: grid;">
                        <label asp-for="CompressorTypeId" class="control-label"></label>
                        @Html.DropDownListFor(model => model.CompressorTypeId, new SelectList(compressorTypeService.GetQueryDropDownList(), "Key", "Value"),
                        @localizer.Get("CompressorTypeSelect"), new Dictionary<string, object> { { "class", "form-control" } })
                        <span asp-validation-for="CompressorTypeId" class="text-danger"></span>
                    </div>


                    <div class="form-group col-md-3">
                        <label asp-for="CompressorDescription" class="control-label"></label>
                        <input asp-for="CompressorDescription" class="form-control" />
                        <span asp-validation-for="CompressorDescription" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="CompressorTag" class="control-label"></label>
                        <input asp-for="CompressorTag" class="form-control" />
                        <span asp-validation-for="CompressorTag" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="CompressorBrand" class="control-label"></label>
                        <input asp-for="CompressorBrand" class="form-control" />
                        <span asp-validation-for="CompressorBrand" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="CompressorModel" class="control-label"></label>
                        <input asp-for="CompressorModel" class="form-control" />
                        <span asp-validation-for="CompressorModel" class="text-danger"></span>
                    </div>

                </div>
            </div>

            @*Sensor*@
            @*<label for="input9" class="col-sm-2 labelbox">
            <span class="h6 small bg-white text-muted pt-1 pl-2 pr-2 pb-1">Configurações de Leitura do sensor</span>
            </label>*@
            <div class="mt-n3" id="input9" style="padding:10px;background-color:gainsboro;">

                <div class="col-md-12 formclasscreate" style="background-color:white;border:1px solid gray;">
                    <div class="col-md-4" style="padding: 0 10px;"><b>SENSOR</b></div>
                    <div class="col-md-3" style="padding: 0 10px;"><b>PLANO DE MEDIÇÃO</b></div>
                    <div class="col-md-3" style="padding: 0 10px;"><b>ORIENTAÇÃO DO SENSOR</b></div>
                    <div class="col-md-2"></div>
                </div>

                @{
                    var listDevice = (List<Core.Device>)ViewBag.MotorDevices;
                }

                @foreach (var device in listDevice)
                {
                    <div class="col-md-12 formclasscreate cont-row" style="border-bottom:1px solid gray;">
                        <div class="col-md-4 pt-1" style="padding: 0 10px;"> @device.Tag </div>
                        <div class="col-md-3 pt-1" style="padding: 0 10px;"> @device.DeviceMotor.MeasurementPlan </div>
                        <div class="col-md-3 pt-1" style="padding: 0 10px;"> @device.DeviceMotor.SensorOrientation </div>
                        <div class="col-md-2">
                            
                        </div>
                    </div>
                }

            </div>

            <!--<div class="form-group col-md-6">
                "-- Selecione o Tipo --"
            <label asp-for="ContactId" class="control-label"></label>-->
            @*<input asp-for="ContactId" class="form-control" />*@
            <!--Html.DropDownListFor(model => model.ContactId,
             new List<SelectListItem>
             {
                    new SelectListItem{ Text="Adriano", Value = "1" },
                    new SelectListItem{ Text="Alessandro", Value = "2" },
                    new SelectListItem{ Text="Henrique", Value = "3" },
            }
            , "-- Selecione o contato relacionado --", new Dictionary<string, object> { { "class", "form-control" } })
                   <span asp-validation-for="ContactId" class="text-danger"></span>
               </div>-->
            <!--<div class="col-md-12 formclasscreate">-->
            @*<div class="form-group col-md-6">
            <label asp-for="IsActive" class="control-label"></label>
            <c asp-for="IsActive" class="form-control" />
            <span asp-validation-for="IsActive" class="text-danger"></span>

            </div>*@
            @*<div class="form-group col-md-6">
            <label asp-for="Contact.Department" class="control-label"></label>
            <input asp-for="Contact.Department" class="form-control" />
            <span asp-validation-for="Contact.Department" class="text-danger"></span>
            </div>*@

            @*<div class="form-group">
            <label asp-for="CreatedAt" class="control-label"></label>
            <input asp-for="CreatedAt" class="form-control" />
            <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="UpdatedAt" class="control-label"></label>
            <input asp-for="UpdatedAt" class="form-control" />
            <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>*@

            <!--</div>-->

            <div class="col-md-12">
                <div class="form-group screenCreateControls col-md-6">
                    <a href="@Url.Action("Index", "Motor")"><input asp-action="Index" type="button" value="@localizer.Get("BackToList")" class="btn btn-primary" /></a>
                    @* <input type="submit" value="@localizer.Get("Create")" class="btn btn-primary" />*@
                </div>
            </div>
        </form>
    </div>
</div>
<hr />

@*<div>
        <a asp-action="Index">@localizer.Get("BackToList")</a>
    </div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
