@model SensorWeb.Models.MotorModel
@inject SensorWeb.Resources.CommonLocalizationService localizer


<h4 style="color:white; text-align:center">@localizer.Get("MotorTitle") </h4>
<hr />

<h5 style="color:white;">@localizer.Get("DeleteRegister")?</h5>
<div class="row screenCreate">
    <div class="col-md-12 formclasscreate">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tag)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tag)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    <div class="col-md-12 ">
        <div class="form-group screenCreateControls col-md-6">
            <form asp-action="GroupDelete">
                <input type="submit" value="@localizer.Get("Delete")" class="btn btn-danger" />
                <a asp-action="GroupIndex" class="btn btn-primary">@localizer.Get("BackToList")</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        @if (ViewBag.ErrorMsg != null)
        {
            <text>alert('Não foi possível excluir. Este Agrupamento possui Equipamentos vinculados.'); </text>
        }

    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}