@model SensorWeb.Models.MotorModel

@inject SensorWeb.Resources.CommonLocalizationService localizer
@inject Core.Service.IMachineService machineService
@inject Core.Service.IFixationTypeService fixationService
@inject Core.Service.ICouplingTypeService couplingService
@inject Core.Service.ICardanShaftTypeService cardanShaftTypeService
@inject Core.Service.IPumpTypeService pumpTypeService
@inject Core.Service.ICompressorTypeService compressorTypeService

@*<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>*@
<link href="@Url.Content("~/css/screenCustomMotor.css?p=3535")" rel="stylesheet" />

<h4 class="screenTitle">Agrupamento </h4>
<hr />

<style>

</style>

<script>

    $('body').ready(function () {
        
    });



</script>


<div class="row screenCreate">
    <div class="col-md-12 formclasscreate">
        <form asp-action="GroupCreate" style="min-width: 900px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*Equipamento*@
            @*<label for="input1" class="col-sm-2 labelbox">
            <span class="h6 small bg-white text-muted pt-1 pl-2 pr-2 pb-1">Equipamento</span>
            </label>*@
            <div class="col-md-12 formclasscreate ">
                <div class="form-group col-md-12">
                    <label asp-for="CompanyId" class="control-label"></label>
                    @Html.DropDownListFor(model => model.CompanyId, new SelectList(Model.Companies, "Key", "Value"),
                    @localizer.Get("CompanySelect"), new Dictionary<string, object> { { "class", "form-control" } })
                    <span asp-validation-for="CompanyId" class="text-danger"></span>
                </div>
            </div>

            <div class="mt-n3" id="input1">

                @*Equipamento*@
                <div class="col-md-12 formclasscreate ">
                    <div class="form-group col-md-4">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Tag" class="control-label"></label>
                        <input asp-for="Tag" class="form-control" />
                        <span asp-validation-for="Tag" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="form-group screenCreateControls col-md-6">
                    
                </div>
            </div>

            <div class="row">
                <div class="form-group screenCreateControls col-md-6">
                    <a href="@Url.Action("GroupIndex", "Motor")"><input asp-action="Index" type="button" value="@localizer.Get("BackToList")" class="btn btn-primary" /></a>
                    <input type="submit" value="@localizer.Get("Create")" class="btn btn-primary" />
                </div>
                <div class="form-group screenCreateControls col-md-6" style="text-align: right;">
                    @*<button type="button" class="btn btn-secondary" disabled>Copiar</button>*@
                </div>
            </div>
        </form>
    </div>
</div>
<hr />

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}


