@model SensorWeb.Models.DeviceModel
@inject SensorWeb.Resources.CommonLocalizationService localizer
@inject Core.Service.ICompanyService companyService

<h4 class="screenTitle">@localizer.Get("DeviceTitle") </h4>
<hr />
<div class="row screenCreate">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">

                <div class="col-md-4">
                    <div class="form-group" style="display:none">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="Tag" class="control-label"></label>
                        <input asp-for="Tag" class="form-control" />
                        <span asp-validation-for="Tag" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Code" class="control-label"></label>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CompanyId" class="control-label"></label>
                        @Html.DropDownListFor(model => model.CompanyId, new SelectList(companyService.GetQueryDropDownList(), "Key", "Value"),
                                              @localizer.Get("CompanySelect"), new Dictionary<string, object> { { "class", "form-control" } })
                        <span asp-validation-for="CompanyId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-8">

                    <div class="form-group">
                        @* <img style="max-height: 120px;margin-top:20px" src="@Url.Content("~/Resources/QrCodeTags/" + ViewData["imgQrCode"])" />*@
                        @if (Model != null)
                        {
                            <img style="max-height: 120px;margin-top:20px" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.QrCodeImg))" />
                        }
                        </div>
                </div>


            </div>

            <div class="form-group screenCreateControls">
                <a href="@Url.Action("Index", "Device")"><input asp-action="Index" type="button" value="@localizer.Get("BackToList")" class="btn btn-primary" /></a>
                <input type="submit" value="@localizer.Get("Save")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr />

@*<div>
        <a asp-action="Index">@localizer.Get("BackToList")</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
