@inject SensorWeb.Resources.CommonLocalizationService localizer

<!doctype html>
<html>
<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="." />

    <!-- title  -->
    <title>IotNest | Dashboard</title>

@*    <!-- favicon -->
    <link rel="shortcut icon" href="favicon.png">*@

    <!-- common plugins -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/plugins/font-awesome/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/plugins/icomoon/style.css")" />
    <link rel="stylesheet" href="@Url.Content("~/plugins/uniform/css/default.css")" />
    <link rel="stylesheet" href="@Url.Content("~/plugins/switchery/switchery.min.css")" />
    <link href="@Url.Content("~/css/languageSwitcher.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/ImageSelect.css?p=4")" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- nvd3 plugin -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/nvd3/nv.d3.min.css")" />

    <!-- custom css -->
    <link rel="stylesheet" href="@Url.Content("~/css/styles.css")" />

    <!-- custom css -->
    <link href="@Url.Content("~/css/custom.css")" rel="stylesheet">


    <style>

        .selected-lang:before {
            background-image: url('@Url.Content(localizer.Get("urlFlag"))');
        }

        .en:before {
            background-image: url('@Url.Content("~/images/flags/flagUnited.png")');
        }

        .pt:before {
            background-image: url('@Url.Content("~/images/flags/flagBrazil.png")');
        }

        .sp:before {
            background-image: url('@Url.Content("~/images/flags/flagSpanish.png")');
        }

    </style>
</head>

<body>

    @if (ViewData["Error"] != null && !String.IsNullOrEmpty(ViewData["Error"].ToString()))
    {
        <script>
            var msgError = '@ViewData["Error"].ToString()';
            alert(msgError);
        </script>
    }

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- PAGE CONTAINER
    ================================================== -->
    <div class="page-container">

        <!-- PAGE CONTENT
        ================================================== -->
        <div class="page-content">

            <!-- start page header -->
            <div class="page-header">
                <div style="background-color:#00afef;">
                    <div class="row">
                        <div class="col-6">
                            <a class="logo-box">
                                <span>IotNest/Vibração</span>
                            </a>
                        </div>
                        <div class="col-5" style="text-align:right;padding:15px;">
                            <a href="/Login/Logout?qr=@ViewBag.DeviceCode" style="color:white;font-size:17px;font-weight:bold;">
                                <i class="menu-icon icon-exit"></i><span> Sair</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page header -->
            <!-- start page inner -->
            <div class="page-inner">
                @*<div class="page-title">
                <h3 class="breadcrumb-header">Home</h3>
                </div>*@
                <!-- start page main wrapper -->
                <div id="main-wrapper">
                    <div class="row">

                        @RenderBody()

                        @*<div>&nbsp;</div>

                        <div><a href="cadastro-tipo-usuario.html">cadastro-tipo-usuario</a></div>
                        <div><a href="cadastro-empresas.html">cadastro-empresas</a></div>
                        <div><a href="cadastro-equipamento.html">cadastro-equipamento</a></div>
                        <div><a href="formulario-cadastro-empresas.html">formulario-cadastro-empresas</a></div>
                        <div><a href="formulario-cadastro-tipo-usuario.html">formulario-cadastro-tipo-usuario</a></div>
                        <div><a href="formulario-cadastro-usuario.html">formulario-cadastro-usuario</a></div>
                        <div><a href="acopladores-eixo-cardan.html">acopladores-eixo-cardan</a></div>
                        <div><a href="redutores.html">redutores</a></div>
                        <div><a href="bombas.html">bombas</a></div>
                        <div><a href="ventilador-exaustor.html">ventilador-exaustor</a></div>
                        <div><a href="coroa-correntes.html">coroa-correntes</a></div>
                        <div><a href="leitura-sensor.html">leitura-sensor</a></div>
                        <div><a href="acopladores.html">acopladores</a></div>
                        <div><a href="formulario-cadastro-equipamento.html">formulario-cadastro-equipamento</a></div>
                        <div><a href="dashboard.html">dashboard</a></div>
                        <div><a href="formulario-cadastro-sensores.html">formulario-cadastro-sensores</a></div>
                        <div><a href="qr-code.html">qr-code</a></div>

                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>*@

                    </div>


                </div>
                <!-- end page main wrapper -->
                <div class="page-footer">
                    <p>IotNest/Vibração &copy; <span class="current-year"></span>. Conteúdo de uso exclusivo.</p>
                </div>
            </div>
            <!-- end page inner -->


        </div>

    </div>

    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->
    <!-- jQuery -->
    <script src="@Url.Content("~/plugins/jquery/jquery-3.1.0.min.js")"></script>

    <!-- bootstrap -->
    <script src="@Url.Content("~/plugins/bootstrap/js/bootstrap.min.js")"></script>

    <!-- slimscroll -->
    <script src="@Url.Content("~/plugins/jquery-slimscroll/jquery.slimscroll.min.js")"></script>

    <!-- uniform -->
    <script src="@Url.Content("~/plugins/uniform/js/jquery.uniform.standalone.js")"></script>

    <!-- switchery -->
    <script src="@Url.Content("~/plugins/switchery/switchery.min.js")"></script>

    <!-- chartjs -->
    <script src="@Url.Content("~/plugins/chartjs/chart.min.js")"></script>

    <!-- d3.min -->
    <script src="@Url.Content("~/plugins/d3/d3.min.js")"></script>

    <!-- nv.d3.min -->
    <script src="@Url.Content("~/plugins/nvd3/nv.d3.js")"></script>

    <!-- float chart -->
    <script src="@Url.Content("~/plugins/flot/jquery.flot.min.js")"></script>

    <!-- float time -->
    <script src="@Url.Content("~/plugins/flot/jquery.flot.time.min.js")"></script>

    <!-- float symbol -->
    <script src="@Url.Content("~/plugins/flot/jquery.flot.symbol.min.js")"></script>

    <!-- float resize -->
    <script src="@Url.Content("~/plugins/flot/jquery.flot.resize.min.js")"></script>

    <!-- float tooltip -->
    <script src="@Url.Content("~/plugins/flot/jquery.flot.tooltip.min.js")"></script>

    <!-- float pie -->
    <script src="@Url.Content("~/plugins/flot/jquery.flot.pie.min.js")"></script>

    <script src="@Url.Content("~/plugins/jquery/jquery.mask.min.js")"></script>

    <!-- float pie -->
    <script src="@Url.Content("~/js/pages/dashboard.js")"></script>

    <!-- theme core scripts -->
    <script src="@Url.Content("~/js/main.js")"></script>

    <!-- custom js -->
    <script src="@Url.Content("~/js/custom.js")"></script>

    <!-- all js include end -->
    @RenderSection("Scripts", required: false)
</body>
</html>