@model SensorWeb.Models.CompanyModel
@inject SensorWeb.Resources.CommonLocalizationService localizer

@inject Core.Service.ICompanyTypeService companyTypeService
@inject Core.Service.ICompanyService companyService
@*<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>*@

<h4 class="screenTitle">@localizer.Get("CompanyTitle") </h4>
<hr />

<div class="row screenCreate">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-md-12 formclasscreate">
            <div class="form-group col-md-2" style="display:none;">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="LegalName" class="control-label"></label>
                <input asp-for="LegalName" class="form-control" />
                <span asp-validation-for="LegalName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="TradeName" class="control-label"></label>
                <input asp-for="TradeName" class="form-control" />
                <span asp-validation-for="TradeName" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-12 formclasscreate">
            <div class="form-group col-md-2">
                <label asp-for="Cnpj" class="control-label"></label>
                <input asp-for="Cnpj" minlength="18" class="form-control" oninvalid="this.setCustomValidity('Digite um CNPJ válido')"
                       oninput="this.setCustomValidity('')"  />
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group col-md-7">
                <label asp-for="Website" class="control-label"></label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-12 formclasscreate">
            <div class="form-group col-md-6" style=" display: grid;">
                <label asp-for="CompanyTypeId" class="control-label"></label>
                @Html.DropDownListFor(model => model.CompanyTypeId,
                new SelectList(Model.CompanyType, "Key", "Value")
                , @localizer.Get("CompanyTypeSelect"), new Dictionary<string, object> { { "class", "form-control" } })
                <span asp-validation-for="CompanyTypeId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group screenCreateControls">
            <a href="@Url.Action("Index", "Company")"><input asp-action="Index" type="button" value="@localizer.Get("BackToList")" class="btn btn-primary" /></a>
            <input type="submit" value="@localizer.Get("Create")" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function ($) {

            $('#Cnpj').mask("00.000.000/0000-00", { reverse: true });

        });

    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
